<form nz-form
  class="w-100"
  [ngClass]="{'bm-disable bm-pointer-events-none': disable}"
  [formGroup]="meetingScheduleForm">
  <div class="h-100 w-100 d-flex flex-column justify-content-between">
    <div>
      <nz-form-item class="bm-mb-0">
        <nz-form-control nzErrorTip="Tên cuộc họp không thể để trống!">
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'Title'">
            Tên cuộc họp
          </nz-form-label>
          <nz-input-group>
            <input type="text"
              nz-input
              class="bm-border-radius-4px"
              formControlName="Title"
              placeholder="Nhập tên cuộc họp">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="bm-mb-0 bm-mt-16px">
        <nz-form-control [nzErrorTip]="codeErrorTip">
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'Code'">
            Mã lịch họp
          </nz-form-label>
          <nz-input-group>
            <input type="text"
              nz-input
              class="bm-border-radius-4px"
              formControlName="Code"
              placeholder="Nhập mã lịch họp">
          </nz-input-group>
        </nz-form-control>
        <ng-template #codeErrorTip
          let-control>
          <span class="font-size-11"
            *ngIf="control.hasError('required')">Mã lịch họp không được để trống!</span>
          <span class="font-size-11"
            *ngIf="control.hasError('pattern')">
            Mã lịch họp không đúng định dạng!
          </span>
        </ng-template>
      </nz-form-item>
      <nz-form-item class="bm-mt-16px bm-mb-0">
        <nz-form-control [nzErrorTip]="'Thời gian không thể để trống!'">
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'RangeTime'">
            Thời gian
          </nz-form-label>
          <nz-range-picker class="w-100"
            [nzShowTime]="{ nzFormat: 'HH:mm' }"
            [nzDisabledDate]="disabledDate"
            [nzDisabledTime]="disabledDateTime"
            nzFormat="dd/MM/yyyy HH:mm"
            formControlName="RangeTime"
            (ngModelChange)="rangeTimeChange($event)">
          </nz-range-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="bm-mt-16px bm-mb-0">
        <nz-form-control [nzErrorTip]="'Thời lượng dự kiến không thể để trống!'">
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'EstDuration'">
            Thời lượng dự kiến
          </nz-form-label>
          <div class="d-flex">
            <nz-input-number class="w-40"
              formControlName="EstDuration"
              nzPlaceHolder="Nhập thời lượng dự kiến"
              [nzMin]="1"
              [nzStep]="1"
              (ngModelChange)="durationTimeChange($event)">
            </nz-input-number>
            <div class="d-flex align-items-center bm-h-32px bm-px-12px bm-border-top-general bm-border-right-general bm-border-bottom-general">
              Phút
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="bm-mt-16px bm-mb-0">
        <nz-form-control [nzErrorTip]="'Phòng họp không thể để trống!'">
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'IdRoom'">
            Phòng họp
          </nz-form-label>
          <nz-select [nzShowSearch]="true"
            [nzServerSearch]="true"
            [formControlName]="'IdRoom'"
            [nzPlaceHolder]="'Chọn phòng họp'"
            [nzNotFoundContent]="notFoundContentTemplate"
            (nzOnSearch)="handlerSearchMeetingRoom($event)"
            (nzScrollToBottom)="handlerScrollBottomMeetingRoom()">
            <nz-option *ngFor="let item of listMeetingRoom"
              [nzValue]="item.Id"
              [nzLabel]="item.Name">
            </nz-option>
          </nz-select>
          <ng-template #notFoundContentTemplate>
            <div class="d-flex align-items-center justify-content-center">
              <span *ngIf="!loadingMeetingRoom">{{paramsGetMeetingRoom.search ? 'Không có kết quả' : 'Chưa có phòng họp nào trong danh sách'}}</span>
              <nz-spin *ngIf="loadingMeetingRoom"
                nzSimple></nz-spin>
            </div>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <ng-container *ngFor="let item of attendanceType">
        <bm-meeting-schedule-dynamic_field [formGroup]="meetingScheduleForm"
          [meetingSchedule]="meetingSchedule"
          [ignorePersonal]="item | GetIgnorePersonnelPipe:listPersonnelGuest:listPersonnelOther:keyFetch"
          [item]="item"
          [keyFetch]="keyFetch"
          (selectedChange)="handlerSelectedChange($event, item)">
        </bm-meeting-schedule-dynamic_field>
      </ng-container>
      <nz-form-item class="bm-mt-16px bm-mb-0">
        <nz-form-control>
          <nz-form-label [nzNoColon]="true">
            Khách mời
          </nz-form-label>
          <div class="bm-h-316px w-100 bm-mr-12px d-flex flex-column">
            <div class="h-100 w-100 bm-border-general d-flex flex-column">
              <div class="bm-p-12px bm-border-bottom-general">
                <div class="d-flex bm-mb-4px w-100">
                  <div class="d-flex align-items-center bm-mr-12px w-50">
                    <nz-select class="w-100"
                      [nzShowSearch]="true"
                      [nzAllowClear]="true"
                      [nzServerSearch]="true"
                      [nzPlaceHolder]="'Chọn phòng ban'"
                      [(ngModel)]="paramsGetPersonnel.idDepartment"
                      [ngModelOptions]="{standalone: true}"
                      [nzNotFoundContent]="notFoundDepartmentTemplate"
                      (ngModelChange)="handlerSelectDepartment($event)"
                      (nzOnSearch)="handlerSearchDepartment($event)"
                      (nzScrollToBottom)="handlerScrollBottomDepartment()">
                      <nz-option *ngFor="let item of listDepartment"
                        [nzValue]="item.Id"
                        [nzLabel]="item.Name">
                      </nz-option>
                    </nz-select>
                    <ng-template #notFoundDepartmentTemplate>
                      <div class="d-flex align-items-center justify-content-center">
                        <span *ngIf="!loadingDepartment">{{paramsGetDepartment.search ? 'Không có kết quả' : 'Chưa có phòng ban nào trong danh sách'}}</span>
                        <nz-spin *ngIf="loadingDepartment"
                          nzSimple></nz-spin>
                      </div>
                    </ng-template>
                  </div>
                  <div class="d-flex align-items-center w-50">
                    <nz-select class="w-100"
                      [nzShowSearch]="true"
                      [nzAllowClear]="true"
                      [nzServerSearch]="true"
                      [nzPlaceHolder]="'Chọn chức vụ'"
                      [(ngModel)]="paramsGetPersonnel.idPosition"
                      [ngModelOptions]="{standalone: true}"
                      [nzNotFoundContent]="notFoundPositionTemplate"
                      (ngModelChange)="handlerSelectPosition()"
                      (nzOnSearch)="handlerSearchPosition($event)"
                      (nzScrollToBottom)="handlerScrollBottomPosition()">
                      <nz-option *ngFor="let item of listPosition"
                        [nzValue]="item.Id"
                        [nzLabel]="item.Name">
                      </nz-option>
                    </nz-select>
                    <ng-template #notFoundPositionTemplate>
                      <div class="d-flex align-items-center justify-content-center">
                        <span *ngIf="!loadingPosition">{{paramsGetPosition.search ? 'Không có kết quả' : 'Chưa có chức vụ nào trong danh sách'}}</span>
                        <nz-spin *ngIf="loadingPosition"
                          nzSimple></nz-spin>
                      </div>
                    </ng-template>
                  </div>
                </div>
                <nz-input-group [nzSuffix]="suffixIconSearch">
                  <input type="text"
                    nz-input
                    placeholder="Tìm theo tên nhân viên"
                    (keyup)="handlerKeyUp($event)" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                  <i nz-icon
                    nzType="search"></i>
                </ng-template>
              </div>
              <div class="w-100 h-100 position-relative">
                <div class="w-100 h-100 position-absolute bm-overflow-auto"
                  (scroll)="handlerScrollPersonnel($event)">
                  <div *ngFor="let personnel of listPersonnel"
                    class="d-flex flex-column bm-pl-12px bm-py-6px bm-border-bottom-general">
                    <label nz-checkbox
                      [nzDisabled]="disableChangePersonnelJoin"
                      [ngModelOptions]="{standalone: true}"
                      [ngModel]="personnel.IdAccount | CheckPersonnelJoinMeetingSchedulePipe:listPersonnelGuest"
                      (ngModelChange)="handlerAddPersonnelToMeetingSchedule($event, personnel)">{{personnel.FullName}}</label>
                    <span class="bm-ml-24px">Chức vụ: {{personnel.PositionName}} ({{personnel.DepartmentName}})</span>
                  </div>
                  <div class="h-100 w-100 d-flex align-items-center justify-content-center"
                    *ngIf="!listPersonnel || !listPersonnel.length">
                    <span *ngIf="!loadingPersonnel">{{paramsGetPersonnel.search ? 'Không có kết quả' : 'Chưa có nhân viên nào trong danh sách'}}</span>
                    <nz-spin *ngIf="loadingPersonnel"
                      nzTip="Đang tải..."
                      nzSimple></nz-spin>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="bm-mb-0 bm-mt-16px">
        <nz-form-control>
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'Content'">
            Mô tả nội dung cuộc họp
          </nz-form-label>
          <nz-input-group>
            <textarea nz-input
              formControlName="Content"
              placeholder="Nhập mô tả"
              [nzAutosize]="{ minRows: 8, maxRows: 8 }"></textarea>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="bm-mb-0 bm-mt-16px">
        <nz-form-control>
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'IsSyncGGCalendar'">
            Đồng bộ lịch lên google calendar
          </nz-form-label>
          <nz-input-group>
            <nz-switch formControlName="IsSyncGGCalendar"></nz-switch>
            <span *ngIf="!isConnectGoogle"
              class="bm-ml-8px">Bạn chưa kết nối với tài khoản google. <span class="bm-color-009cdb bm-cursor-pointer"
                (click)="handlerConnect($event)">Kết nối ngay tại đây.</span></span>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="d-flex justify-content-end bm-mt-20px">
      <button nz-button
        nzType="primary"
        [nzLoading]="!!loading"
        (click)="handlerUpdate($event)">{{modeEdit ? 'Cập nhật' : 'Lưu'}}</button>
    </div>
  </div>
</form>