<form nz-form
  class="w-100"
  [formGroup]="meetingScheduleForm">
  <div class="h-100 w-100 d-flex flex-column justify-content-between">
    <div>
      <nz-form-item class="bm-mb-0">
        <nz-form-control nzErrorTip="Tên cuộc họp không thể để trống!">
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'Title'">
            Tên cuộc họp
          </nz-form-label>
          <nz-input-group>
            <input type="text"
              nz-input
              class="bm-border-radius-4px"
              formControlName="Title"
              placeholder="Nhập tên cuộc họp">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="bm-mb-0 bm-mt-16px">
        <nz-form-control [nzErrorTip]="codeErrorTip">
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'Code'">
            Mã lịch họp
          </nz-form-label>
          <nz-input-group>
            <input type="text"
              nz-input
              class="bm-border-radius-4px"
              formControlName="Code"
              placeholder="Nhập mã lịch họp">
          </nz-input-group>
        </nz-form-control>
        <ng-template #codeErrorTip
          let-control>
          <span class="font-size-11"
            *ngIf="control.hasError('required')">Mã lịch họp không được để trống!</span>
          <span class="font-size-11"
            *ngIf="control.hasError('pattern')">
            Mã lịch họp không đúng định dạng!
          </span>
        </ng-template>
      </nz-form-item>
      <nz-form-item class="bm-mt-16px bm-mb-0">
        <nz-form-control [nzErrorTip]="'Thời gian không thể để trống!'">
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'RangeTime'">
            Thời gian
          </nz-form-label>
          <nz-range-picker class="w-100"
            [nzShowTime]="{ nzFormat: 'HH:mm' }"
            [nzDisabledDate]="disabledDate"
            [nzDisabledTime]="disabledDateTime"
            nzFormat="dd/MM/yyyy HH:mm"
            formControlName="RangeTime"
            (ngModelChange)="rangeTimeChange($event)">
          </nz-range-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="bm-mt-16px bm-mb-0">
        <nz-form-control [nzErrorTip]="'Thời lượng dự kiến không thể để trống!'">
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'EstDuration'">
            Thời lượng dự kiến
          </nz-form-label>
          <div class="d-flex">
            <nz-input-number class="w-40"
              formControlName="EstDuration"
              nzPlaceHolder="Nhập thời lượng dự kiến"
              [nzMin]="1"
              [nzStep]="1"
              (ngModelChange)="durationTimeChange($event)">
            </nz-input-number>
            <div class="d-flex align-items-center bm-h-32px bm-px-12px bm-border-top-general bm-border-right-general bm-border-bottom-general">
              Phút
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="bm-mt-16px bm-mb-0">
        <nz-form-control [nzErrorTip]="'Phòng họp không thể để trống!'">
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'IdRoom'">
            Phòng họp
          </nz-form-label>
          <nz-select [nzShowSearch]="true"
            [nzServerSearch]="true"
            [formControlName]="'IdRoom'"
            [nzPlaceHolder]="'Chọn phòng họp'"
            [nzNotFoundContent]="notFoundContentTemplate"
            (nzOnSearch)="handlerSearchMeetingRoom($event)"
            (nzScrollToBottom)="handlerScrollBottomMeetingRoom()">
            <nz-option *ngFor="let item of listMeetingRoom"
              [nzValue]="item.Id"
              [nzLabel]="item.Name">
            </nz-option>
          </nz-select>
          <ng-template #notFoundContentTemplate>
            <div class="d-flex align-items-center justify-content-center">
              <span *ngIf="!loadingMeetingRoom">{{paramsGetMeetingRoom.search ? 'Không có kết quả' : 'Chưa có phòng họp nào trong danh sách'}}</span>
              <nz-spin *ngIf="loadingMeetingRoom"
                nzSimple></nz-spin>
            </div>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="bm-mb-0 bm-mt-16px">
        <nz-form-control>
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'Content'">
            Mô tả nội dung cuộc họp
          </nz-form-label>
          <nz-input-group>
            <textarea nz-input
              formControlName="Content"
              placeholder="Nhập mô tả"
              [nzAutosize]="{ minRows: 8, maxRows: 8 }"></textarea>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="d-flex justify-content-end bm-mt-20px">
      <button nz-button
        nzType="primary"
        [nzLoading]="!!loading"
        (click)="handlerUpdate($event)">{{modeEdit ? 'Cập nhật' : 'Lưu'}}</button>
    </div>
  </div>
</form>