.card {
  height: 100%;
  border-radius: 2px !important;
  background-color: #ffffff !important;

  .card-header {
    border-bottom: 0 !important;
    background-color: #ffffff !important;

    .search {
      border-radius: 15px 0 0 15px !important;
      background-color: #f0f2f5 !important;
      border: 0 !important;
      color: #000 !important;

      &:focus {
        box-shadow: none !important;
        outline: 0px !important;
      }
    }

    .search_btn {
      border-radius: 0 15px 15px 0 !important;
      background-color: #f0f2f5 !important;
      border: 0 !important;
      color: #000 !important;
      cursor: pointer;
    }
  }

  .contacts_body {
    padding: 0 !important;
    overflow-y: auto;
    white-space: nowrap;

    .contacts {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        width: 100% !important;
        padding: 12px;

        &:hover {
          background-color: #f0f2f5;
        }
      }

      .active {
        background-color: #f0f2f5;
      }

      .img_cont {
        position: relative;
        height: 50px;
        width: 50px;

        .user_img {
          height: 50px;
          width: 50px;
          border: 1.5px solid #f5f6fa;
        }

        .online_icon {
          position: absolute;
          height: 14px;
          width: 14px;
          border-radius: 50%;
          bottom: 0px;
          right: 3px;
          border: 2.5px solid white;
        }

        .online {
          background-color: #4cd137;
        }

        .offline {
          background-color: #ff5454;
        }
      }

      .user_info {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15px;

        span {
          font-size: 14px;
          color: #000000;
        }

        p {
          font-size: 10px;
          color: #000;
        }
      }
    }
  }

  .msg_head {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #f0f2f5 !important;

    .img_cont {
      position: relative;
      height: 50px;
      width: 50px;

      .user_img {
        height: 50px;
        width: 50px;
        border: 1.5px solid #f5f6fa;
      }

      .online_icon {
        position: absolute;
        height: 14px;
        width: 14px;
        border-radius: 50%;
        bottom: 0px;
        right: 3px;
        border: 2.5px solid white;
      }

      .online {
        background-color: #4cd137;
      }

      .offline {
        background-color: #ff5454;
      }
    }

    .user_info {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 15px;

      span {
        font-size: 14px;
        color: #000000;
      }

      p {
        font-size: 10px;
        color: #000;
      }
    }

    .video_cam {
      margin: auto 0px auto 50px;

      span {
        color: #000000;
        font-size: 20px;
        cursor: pointer;
        margin-right: 20px;
      }
    }

    .action_menu_btn {
      color: #000;
      cursor: pointer;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .action_menu {
      z-index: 1;
      position: absolute;
      background-color: #f0f2f5;
      color: #000;
      border-radius: 2px;
      top: 28px;
      right: 35px;
      display: block;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          width: 100%;
          padding: 12px;

          &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.2);
          }

          i {
            padding-right: 10px;
          }
        }
      }
    }
  }

  .msg_card_body {
    virtual-scroller {
      width: 100%;
      height: 100%;
    }

    overflow-y: auto;

    .img_cont_msg {
      height: 40px;
      width: 40px;

      .user_img_msg {
        height: 40px;
        width: 40px;
        border: 1.5px solid #f5f6fa;
      }
    }

    .msg_cotainer {
      margin-top: auto;
      margin-bottom: auto;
      border-radius: 25px;
      background-color: #f0f2f5;
      padding: 10px;
      position: relative;
    }
  }

  .card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
    background-color: #ffffff !important;

    .attach_btn {
      border-radius: 15px 0 0 15px !important;
      background-color: #f0f2f5 !important;
      border: 0 !important;
      color: #000 !important;
      cursor: pointer;
    }

    .type_msg {
      background-color: #f0f2f5 !important;
      border: 0 !important;
      color: #000 !important;
      height: 60px !important;
      overflow-y: auto;
      resize: none;

      &:focus {
        box-shadow: none !important;
        outline: 0px !important;
      }
    }

    .send_btn {
      border-radius: 0 15px 15px 0 !important;
      background-color: #f0f2f5 !important;
      border: 0 !important;
      color: #000 !important;
      cursor: pointer;
    }
  }
}
