<div class="d-flex h-100">
  <div class="w-25">
    <hn-chat-contacts #contact
      [group]="group"
      (onChangeGroup)="handlerChooseGroup($event)">
    </hn-chat-contacts>
  </div>
  <div class="w-75 hn-ml-12px"
    *ngIf="group">
    <div class="card">
      <div class="card-header msg_head">
        <div class="d-flex bd-highlight">
          <div class="img_cont">
            <img [src]="group.image"
              class="rounded-circle user_img">
            <span class="online_icon online"></span>
          </div>
          <div class="user_info">
            <span>{{group.name}}</span>
            <p *ngIf="messageArray.length">{{messageArray.length}} Messages</p>
          </div>
        </div>
        <div class="d-flex">
          <div class="video_cam">
            <span><i nz-icon
                nzType="video-camera"
                nzTheme="outline"></i></span>
            <span><i nz-icon
                nzType="phone"
                nzTheme="outline"></i></span>
          </div>
          <span class="action_menu_btn"
            (click)="viewMore()"
            (clickOutside)="hiddenViewMore()"><i nz-icon
              nzType="more"
              nzTheme="outline"></i></span>
          <div class="action_menu"
            *ngIf="isViewMore">
            <ul>
              <li>View profile</li>
              <li>Add to close friends</li>
              <li>Add to group</li>
              <li>Block</li>
              <li (click)="leave()">Leave group</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body msg_card_body hn-calc-h-20px position-relative"
        #scroll
        (scroll)="scrolled($event)">
        <div *ngFor="let mes of messageArray; index as i"
          #item
          class="d-flex hn-mb-12px flex-column">
          <div class="d-flex justify-content-center"
            *ngIf="checkTime(mes, messageArray[i - 1])">{{ mes.time | date: 'short' }}</div>
          <div class="d-flex align-items-end"
            [ngClass]="mes.user.name !== user.name ? '' : 'flex-row-reverse'">
            <div class="img_cont_msg"
              data-toggle="tooltip"
              data-placement="top"
              [title]="mes.user.name">
              <img [src]="mes.user.avatar"
                class="rounded-circle user_img_msg">
            </div>
            <div>
              <p *ngIf="mes.user.name !== user.name && (i === 0 || (i > 0 && mes.user.name !== messageArray[i - 1].user.name)) || checkTime(mes, messageArray[i - 1])"
                class="hn-mb-2px hn-font-size-11px"
                [ngClass]="{'hn-ml-24px' : mes.user.name !== user.name ? true: false, 'hn-mr-24px': mes.user.name === user.name ? true: false}">
                {{ mes.user.name }}</p>
              <div class="msg_cotainer"
                [ngClass]="{'hn-ml-12px' : mes.user.name !== user.name ? true: false, 'hn-mr-12px': mes.user.name === user.name ? true: false}">
                {{mes.message}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div>
          <span *ngIf="typing">Someone is typing</span>
        </div>
        <div class="input-group">
          <div class="input-group-append">
            <span class="input-group-text attach_btn"><i nz-icon
                nzType="plus"
                nzTheme="outline"></i></span>
          </div>
          <textarea #message
            name="messageContent"
            class="form-control type_msg"
            placeholder="Nhập nội dung tin nhắn..."
            [(ngModel)]="messageContent"
            (keyup)="onTyping()"
            (ngModelChange)="userTyping.next($event)"></textarea>
          <div class="input-group-append"
            (click)="sendMessage()">
            <span class="input-group-text send_btn"><i nz-icon
                nzType="send"
                nzTheme="outline"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-75 hn-ml-12px hn-bg-ffffff d-flex justify-content-center align-items-center hn-px-20px"
    *ngIf="!group">
    Tham gia hoặc tạo nhóm để bắt đầu chat với bạn bè
  </div>
</div>
