<form nz-form
  class="w-100 h-100"
  [formGroup]="departmentForm">
  <div class="h-100 w-100 d-flex flex-column justify-content-between">
    <div>
      <nz-form-item class="bm-mb-0">
        <nz-form-control nzErrorTip="Tên nhóm không thể để trống!">
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'name'">
            Tên nhóm
          </nz-form-label>
          <nz-input-group>
            <input type="text"
              nz-input
              class="bm-border-radius-4px"
              formControlName="name"
              placeholder="Nhập tên nhóm">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="bm-mt-16px bm-mb-0">
        <nz-form-control nzErrorTip="Nhóm phải có ít nhất 1 nhân viên!">
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'member'">
            Nhân viên thuộc nhóm
          </nz-form-label>
          <nz-select [nzShowSearch]="true"
            [nzMaxTagCount]="3"
            [nzMaxTagPlaceholder]="tagPlaceHolderTpl"
            nzMode="multiple"
            [formControlName]="'member'"
            [nzPlaceHolder]="'Chọn nhân viên vào nhóm'"
            [nzNotFoundContent]="'Không có dữ liệu'"
            (nzScrollToBottom)="handlerScrollBottom($event)"
            (ngModelChange)="handlerChangeMember($event)">
            <nz-option *ngFor="let item of listMember"
              [nzValue]="item.name"
              [nzLabel]="item.name"
              [nzHide]="listMemberSelected.includes(item.name)">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="bm-mt-16px bm-mb-0">
        <nz-form-control nzErrorTip="Trưởng nhóm không thể để trống!">
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'manager'">
            Trưởng nhóm
          </nz-form-label>
          <nz-select [nzShowSearch]="true"
            [formControlName]="'manager'"
            [nzPlaceHolder]="'Chọn trưởng nhóm'"
            [nzNotFoundContent]="'Không có dữ liệu'"
            (nzScrollToBottom)="handlerScrollBottom($event)">
            <nz-option *ngFor="let item of listMemberSelected"
              [nzValue]="item"
              [nzLabel]="item">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="bm-mb-0 bm-mt-16px">
        <nz-form-control>
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'description'">
            Mô tả công việc
          </nz-form-label>
          <nz-input-group>
            <textarea nz-input
              formControlName="description"
              placeholder="Nhập mô tả công việc của nhóm"
              [nzAutosize]="{ minRows: 8, maxRows: 8 }"></textarea>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="d-flex justify-content-end bm-mt-20px">
      <button nz-button
        nzType="primary"
        [nzLoading]="!!loading"
        (click)="handlerUpdate($event)">{{modeEdit ? 'Cập nhật' : 'Lưu'}}</button>
    </div>
  </div>
</form>

<ng-template #tagPlaceHolderTpl
  let-selectedList>và {{ selectedList.length }} nhân viên khác</ng-template>