<div class="w-100 h-100 d-flex flex-column">
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <div class="bm-font-head-3s bm-mr-24px">Nhân viên</div>
      <button nz-button
        nzType="primary"
        (click)="handlerAddPersonnel($event)">
        <i nz-icon
          nzType="plus"
          nzTheme="outline"></i>Thêm nhân viên</button>
      <button nz-button
        *ngIf="showDelete"
        class="bm-ml-12px"
        nzType="primary"
        nzDanger
        (click)="handlerDeletePersonnel($event)">Xoá nhân viên</button>
    </div>
    <div class="d-flex">
      <div class="d-flex align-items-center bm-mr-12px">
        <nz-select class="bm-w-200px"
          [nzShowSearch]="true"
          [nzAllowClear]="true"
          [nzServerSearch]="true"
          [(ngModel)]="params.idDepartment"
          [nzPlaceHolder]="'Chọn phòng ban'"
          [nzNotFoundContent]="notFoundDepartmentTemplate"
          (ngModelChange)="handlerSelectDepartment($event)"
          (nzOnSearch)="handlerSearchDepartment($event)"
          (nzScrollToBottom)="handlerScrollBottomDepartment()">
          <nz-option *ngFor="let item of listDepartment"
            [nzValue]="item.Id"
            [nzLabel]="item.Name">
          </nz-option>
        </nz-select>
        <ng-template #notFoundDepartmentTemplate>
          <div class="d-flex align-items-center justify-content-center">
            <span *ngIf="!loadingDepartment">{{paramsGetDepartment.search ? 'Không có kết quả' : 'Chưa có phòng ban nào trong danh sách'}}</span>
            <nz-spin *ngIf="loadingDepartment"
              nzSimple></nz-spin>
          </div>
        </ng-template>
      </div>
      <div class="d-flex align-items-center bm-mr-12px">
        <nz-select class="bm-w-200px"
          [nzShowSearch]="true"
          [nzAllowClear]="true"
          [nzServerSearch]="true"
          [(ngModel)]="params.idPosition"
          [nzPlaceHolder]="'Chọn chức vụ'"
          [nzNotFoundContent]="notFoundPositionTemplate"
          (ngModelChange)="handlerSelectPosition()"
          (nzOnSearch)="handlerSearchPosition($event)"
          (nzScrollToBottom)="handlerScrollBottomPosition()">
          <nz-option *ngFor="let item of listPosition"
            [nzValue]="item.Id"
            [nzLabel]="item.Name">
          </nz-option>
        </nz-select>
        <ng-template #notFoundPositionTemplate>
          <div class="d-flex align-items-center justify-content-center">
            <span *ngIf="!loadingPosition">{{paramsGetPosition.search ? 'Không có kết quả' : 'Chưa có chức vụ nào trong danh sách'}}</span>
            <nz-spin *ngIf="loadingPosition"
              nzSimple></nz-spin>
          </div>
        </ng-template>
      </div>
      <nz-input-group class="bm-w-503px"
        [nzSuffix]="suffixIconSearch">
        <input type="text"
          nz-input
          placeholder="Tìm theo tên nhân viên"
          (keyup)="handlerKeyUp($event)" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon
          nzType="search"></i>
      </ng-template>
    </div>
  </div>
  <div class="h-100 w-100 bm-mt-12px">
    <nz-tabset class="h-100"
      [(nzSelectedIndex)]="selectedTab"
      (nzSelectChange)="handlerTabChange($event)">
      <nz-tab *ngFor="let tab of tabs"
        [nzDisabled]="loading"
        [nzTitle]="tab.title">
        <ng-template nz-tab>
          <div class="h-100"
            *ngIf="listPersonnel && listPersonnel.length">
            <nz-table #personnelTable
              [nzScroll]="{ y: 'calc(100vh - 270px)' }"
              [nzFrontPagination]="false"
              [nzData]="listPersonnel"
              [nzTotal]="totalPersonnel"
              [nzPageSize]="params.pageSize"
              [nzPageIndex]="params.page"
              [nzLoading]="loading"
              [nzShowTotal]="totalTemplate"
              [nzSize]="'middle'"
              [nzBordered]="true"
              nzPaginationType="small"
              (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
              (nzQueryParams)="handlerQueryParamsChange($event)">
              <thead>
                <tr>
                  <th [(nzChecked)]="checked"
                    [nzWidth]="'2%'"
                    (nzCheckedChange)="onAllChecked($event)"></th>
                  <th *ngFor="let column of columnConfig"
                    [nzWidth]="column.width"
                    [nzAlign]="'left'"
                    class="bm-font-head-4s">
                    {{ column.name }}
                  </th>
                  <th [nzWidth]="'5%'">#</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of personnelTable.data">
                  <td [nzChecked]="setOfCheckedId.has(item.Id)"
                    (nzCheckedChange)="onItemChecked(item.Id, $event)"></td>
                  <td class="d-flex align-items-center">
                    <div class="bm-h-30px bm-w-30px">
                      <img nz-image
                        class="h-100 w-100 bm-border-radius-50em bm-border-general"
                        [src]="item.AvatarUrl || 'https://t3.ftcdn.net/jpg/02/09/37/00/360_F_209370065_JLXhrc5inEmGl52SyvSPeVB23hB6IjrR.jpg'">
                    </div>
                    <div class="bm-color-009cdb bm-cursor-pointer bm-ml-8px"
                      (click)="handlerEditPersonnel($event, item)">{{item.FullName}}</div>
                  </td>
                  <td>{{item.Gender === 0 ? 'Nam' : 'Nữ'}}</td>
                  <td>{{item.Dob | date:'dd/MM/YYYY'}}</td>
                  <td>{{item.Address}}</td>
                  <td>{{item.Phone}}</td>
                  <td>{{item.PositionName}}</td>
                  <td>
                    <nz-switch [(ngModel)]="item.Active"
                      [nzLoading]="item.Id && (keyToggleLoading === item.Id)"
                      (ngModelChange)="handlerActiveChange($event, item)"></nz-switch>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <div>
                        <span nz-tooltip
                          [nzTooltipTitle]="resetPasswordTemplate"
                          (click)="handlerResetPassword($event, item.Id)"
                          class="bm-color-009cdb bm-cursor-pointer">
                          <span nz-icon
                            nzType="undo"
                            nzTheme="outline"></span></span>
                        <ng-template #resetPasswordTemplate>
                          <span class="bm-max-h-100px bm-overflow-auto">Khôi phục mật khẩu mặc định</span>
                        </ng-template>
                      </div>
                      <div class="bm-ml-8px">
                        <span class="d-none"
                          *ngIf="item.Id | CheckDataFacePersonnelPipe:keyFetchDataFace | async as hasFace"></span>
                        <span nz-tooltip
                          [nzTooltipTitle]="addDataFaceTemplate"
                          (click)="handlerAddDataFace($event, item.Id, hasFace)"
                          class="bm-color-009cdb bm-cursor-pointer">
                          <span nz-icon
                            [nzType]="hasFace ? 'user-switch' : 'user-add'"
                            nzTheme="outline"></span></span>
                        <ng-template #addDataFaceTemplate>
                          <span class="bm-max-h-100px bm-overflow-auto">{{hasFace ? 'Cập nhật dữ liệu khuôn mặt' : 'Thêm dữ liệu khuôn mặt'}}</span>
                        </ng-template>
                      </div>
                      <div class="bm-ml-8px"
                        *ngIf="item.Id | CheckDataFacePersonnelPipe:keyFetchDataFace | async">
                        <span nz-tooltip
                          [nzTooltipTitle]="deleteDataFaceTemplate"
                          (click)="handlerDeleteDataFace($event, item.Id)"
                          class="bm-color-009cdb bm-cursor-pointer">
                          <span nz-icon
                            class="bm-color-ff5454"
                            nzType="delete"
                            nzTheme="outline"></span></span>
                        <ng-template #deleteDataFaceTemplate>
                          <span class="bm-max-h-100px bm-overflow-auto">{{'Xoá dữ liệu khuôn mặt'}}</span>
                        </ng-template>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
          <div class="h-100 w-100 d-flex align-items-center justify-content-center"
            *ngIf="!listPersonnel || !listPersonnel.length">
            <span *ngIf="!loading">{{params.search ? 'Không có kết quả' : 'Chưa có nhân viên nào trong danh sách'}}</span>
            <nz-spin *ngIf="loading"
              nzTip="Đang tải..."
              nzSimple></nz-spin>
          </div>
        </ng-template>
      </nz-tab>
    </nz-tabset>
  </div>
</div>

<ng-template #totalTemplate
  let-total>Tổng cộng {{ total }} bản ghi</ng-template>