<div class="w-100 d-flex">
  <div [ngClass]="{'w-100': !modeEdit, 'w-25': modeEdit, 'bm-pr-24px': modeEdit}">
    <form nz-form
      class="w-100"
      [formGroup]="personnelForm">
      <div class="h-100 w-100 d-flex flex-column justify-content-between">
        <div>
          <nz-form-item class="bm-mb-0">
            <nz-form-control nzErrorTip="Tên tài khoản không thể để trống!">
              <nz-form-label [nzNoColon]="true"
                [nzFor]="'Username'">
                Tên tài khoản
              </nz-form-label>
              <nz-input-group>
                <input type="text"
                  nz-input
                  formControlName="Username"
                  placeholder="Nhập tên tài khoản">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="bm-mt-16px bm-mb-0">
            <nz-form-control nzErrorTip="Tên nhân viên không thể để trống!">
              <nz-form-label [nzNoColon]="true"
                [nzFor]="'FullName'">
                Tên nhân viên
              </nz-form-label>
              <nz-input-group>
                <input type="text"
                  nz-input
                  class="bm-border-radius-4px"
                  formControlName="FullName"
                  placeholder="Nhập tên nhân viên">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="bm-mt-16px bm-mb-0">
            <nz-form-control>
              <nz-form-label [nzNoColon]="true"
                [nzFor]="'AvatarUrl'">
                Ảnh đại diện
              </nz-form-label>
              <nz-input-group>
                <input type="text"
                  nz-input
                  class="bm-border-radius-4px"
                  formControlName="AvatarUrl"
                  placeholder="Nhập ảnh đại diện">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="bm-mt-16px bm-mb-0">
            <nz-form-control [nzErrorTip]="'Giới tính không thể để trống!'">
              <nz-form-label [nzNoColon]="true"
                [nzFor]="'Gender'">
                Giới tính
              </nz-form-label>
              <div>
                <nz-radio-group formControlName="Gender">
                  <label nz-radio
                    class="bm-font-head-5"
                    [nzValue]="0">Nam</label>
                  <label nz-radio
                    class="bm-font-head-5"
                    [nzValue]="1">Nữ</label>
                </nz-radio-group>
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="bm-mt-16px bm-mb-0">
            <nz-form-control nzErrorTip="Ngày sinh không thể để trống!">
              <nz-form-label [nzNoColon]="true"
                [nzFor]="'Dob'">
                Ngày sinh
              </nz-form-label>
              <div>
                <nz-date-picker class="w-40"
                  nzFormat="dd/MM/yyyy"
                  formControlName="Dob"
                  nzPlaceHolder="Chọn ngày sinh">
                </nz-date-picker>
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="bm-mt-16px bm-mb-0">
            <nz-form-control nzErrorTip="Địa chỉ không thể để trống!">
              <nz-form-label [nzNoColon]="true"
                [nzFor]="'Address'">
                Địa chỉ
              </nz-form-label>
              <nz-input-group>
                <input type="text"
                  nz-input
                  class="bm-border-radius-4px"
                  formControlName="Address"
                  placeholder="Nhập địa chỉ">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="bm-mt-16px bm-mb-0">
            <nz-form-control [nzErrorTip]="phoneErrorTip">
              <nz-form-label [nzNoColon]="true"
                [nzFor]="'Phone'">
                Số điện thoại
              </nz-form-label>
              <nz-input-group>
                <input type="text"
                  nz-input
                  class="bm-border-radius-4px"
                  formControlName="Phone"
                  placeholder="Nhập số điện thoại">
              </nz-input-group>
            </nz-form-control>
            <ng-template #phoneErrorTip
              let-control>
              <span class="font-size-11"
                *ngIf="control.hasError('required')">Số điện thoại không thể để trống!</span>
              <span class="font-size-11"
                *ngIf="control.hasError('pattern')">
                Số điện thoại không đúng định dạng!
              </span>
            </ng-template>
          </nz-form-item>
          <nz-form-item class="bm-mt-16px bm-mb-0">
            <nz-form-control nzErrorTip="Chức vụ không thể để trống!">
              <nz-form-label [nzNoColon]="true"
                [nzFor]="'IdPosition'">
                Chức vụ
              </nz-form-label>
              <nz-select [nzShowSearch]="true"
                [nzServerSearch]="true"
                [formControlName]="'IdPosition'"
                [nzPlaceHolder]="'Chọn chức vụ'"
                [nzNotFoundContent]="notFoundContentTemplate"
                (nzOnSearch)="handlerSearchPosition($event)"
                (nzScrollToBottom)="handlerScrollBottom()">
                <nz-option *ngFor="let item of listPosition"
                  [nzValue]="item.Id"
                  [nzLabel]="item.Name">
                </nz-option>
              </nz-select>
              <ng-template #notFoundContentTemplate>
                <div class="d-flex align-items-center justify-content-center">
                  <span *ngIf="!loadingPosition">{{paramsGetPosition.search ? 'Không có kết quả' : 'Chưa có chức vụ nào trong danh sách'}}</span>
                  <nz-spin *ngIf="loadingPosition"
                    nzSimple></nz-spin>
                </div>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="bm-mb-0 bm-mt-16px">
            <nz-form-control>
              <nz-form-label [nzNoColon]="true"
                [nzFor]="'Active'">
                Trạng thái
              </nz-form-label>
              <nz-input-group>
                <nz-switch formControlName="Active"></nz-switch>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="d-flex justify-content-end bm-mt-20px">
          <button nz-button
            nzType="primary"
            [nzLoading]="!!loading"
            (click)="handlerUpdate($event)">{{modeEdit ? 'Cập nhật' : 'Lưu'}}</button>
        </div>
      </div>
    </form>
  </div>
  <div class="h-100 w-75 bm-border-left-general bm-pl-24px d-flex flex-column"
    *ngIf="modeEdit">
    <div>Danh sách cuộc họp</div>
    <div class="h-100 w-100 position-relative">
      <div class="w-100 h-100 position-absolute">
        <nz-tabset class="h-100"
          [(nzSelectedIndex)]="selectedTab"
          (nzSelectChange)="handlerTabChange($event)">
          <nz-tab *ngFor="let tab of tabs"
            [nzTitle]="tab.title">
            <ng-template nz-tab>
              <nz-table #meetingTable
                class="h-100"
                [nzScroll]="{ y: 'calc(100vh - 285px)' }"
                [nzFrontPagination]="false"
                [nzData]="listMeeting"
                [nzTotal]="total"
                [nzPageSize]="pageSize"
                [nzPageIndex]="pageIndexGroup"
                [nzNoResult]="empty"
                [nzLoading]="loading"
                [nzShowTotal]="totalTemplate"
                [nzSize]="'middle'"
                [nzBordered]="true"
                nzPaginationType="small"
                (nzQueryParams)="handlerQueryParamsChange($event)">
                <thead>
                  <tr>
                    <th *ngFor="let column of columnConfig"
                      [nzAlign]="'left'"
                      class="bm-font-head-4s">
                      {{ column }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of meetingTable.data;  let i=index">
                    <td>{{item.name}}</td>
                    <td>{{item.date_time}}</td>
                    <td>{{item.total_participation}}</td>
                    <td>
                      <div class="bm-overflow-hidden text-truncate">
                        <span nz-tooltip
                          [nzTooltipTitle]="descriptionTemplate"
                          [nzTooltipTitleContext]="{ $implicit: item.description }">
                          {{item.description}}
                        </span>
                      </div>
                      <ng-template #descriptionTemplate
                        let-description>
                        <span class="bm-max-h-100px bm-overflow-auto">{{ description }}</span>
                      </ng-template>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </ng-template>
          </nz-tab>
        </nz-tabset>
      </div>
    </div>
  </div>

  <ng-template #empty>
    <nz-empty nzNotFoundImage="simple"
      nzNotFoundContent="Không có dữ liệu"></nz-empty>
  </ng-template>

  <ng-template #totalTemplate
    let-total>Tổng cộng {{ total }} bản ghi</ng-template>