<div class="w-100 h-100 d-flex flex-column">
  <div class="w-100 bm-border-general bm-border-radius-4px bm-p-12px">
    <div class="d-flex justify-content-between align-items-center bm-border-bottom-general bm-pb-12px">
      <div class="d-flex align-items-start">
        <img [src]="meetingSchedule.CreatorAvatar"
          class="bm-w-40px bm-h-40px bm-border-radius-50em"
          (error)="handlerErrorImage($event)" />
        <div class="bm-ml-8px">
          <div class="d-flex align-items-center bm-font-head-4s bm-mb-4px">
            <div>
              <span *ngIf="!modeAdd">{{meetingSchedule.Title}}</span>
              <div *ngIf="modeAdd"
                [formGroup]="meetingScheduleForm">
                <nz-form-item class="bm-mb-0">
                  <nz-form-control nzErrorTip="Tên cuộc họp không thể để trống!">
                    <nz-input-group>
                      <input type="text"
                        nz-input
                        class="bm-border-radius-4px"
                        formControlName="Title"
                        placeholder="Nhập tên cuộc họp">
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <ng-container *ngIf="meetingSchedule.EstStartTime | CheckStatusMeetingSchedulePipe:meetingSchedule.EstEndTime:meetingSchedule.EstDuration:keyFetchStatus:true as tagStatus">
              <span nz-tooltip
                [nzTooltipTitle]="contentTemplate"
                [nzTooltipTitleContext]="{ $implicit: meetingSchedule.EstStartTime | CheckStatusMeetingSchedulePipe:meetingSchedule.EstEndTime:meetingSchedule.EstDuration:keyFetchStatus }">
                <nz-tag class="bm-ml-8px"
                  [nzColor]="tagStatus === 1 ? 'warning' : tagStatus === 2 ? 'processing' : 'success'">{{tagStatus === 1 ? 'Sắp diễn ra' : tagStatus === 2 ? 'Đang diễn ra' : 'Đã kết thúc'}}</nz-tag>
              </span>
            </ng-container>
          </div>
          <div class="bm-font-size-10px bm-color-999999">({{meetingSchedule.EstStartTime | date: 'dd/MM/YYYY HH:mm'}} - {{meetingSchedule.EstEndTime | date: 'dd/MM/YYYY HH:mm'}})</div>
        </div>
      </div>
      <div class="d-flex">
        <button nzType="primary"
          *ngIf="(meetingSchedule.EstStartTime | CheckCanAttendanceMeetingSchedulePipe:meetingSchedule.EstDuration:keyFetchStatus) && !modeAdd"
          nz-button
          (click)="handlerAttendance($event)">Điểm danh</button>
        <button nzType="primary"
          *ngIf="modeAdd"
          nz-button
          [disable]="loading"
          [isPending]="loading"
          (click)="handlerSaveScheduleMeetingGuest($event)">Lưu</button>
        <button class="bm-ml-12px"
          *ngIf="!disableChangePersonnelJoin && !modeAdd"
          nz-button
          (click)="handlerChangeModeAdd($event)">Sửa</button>
        <button class="bm-ml-12px"
          *ngIf="modeAdd"
          nz-button
          [disable]="loading"
          (click)="handlerBack($event)">Quay lại</button>
      </div>
    </div>
    <div class="bm-mt-12px">
      <div class="bm-font-head-5">
        <div *ngIf="modeAdd"
          [formGroup]="meetingScheduleForm">
          <nz-form-item class="bm-mb-0">
            <nz-form-control>
              <nz-input-group>
                <textarea nz-input
                  formControlName="Content"
                  placeholder="Nhập mô tả"
                  [nzAutosize]="{ minRows: 8, maxRows: 8 }"></textarea>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <span *ngIf="!modeAdd">{{meetingSchedule.Content}}</span>
      </div>
      <div class="bm-mt-12px bm-pt-12px d-flex align-items-center bm-border-top-general">
        <div class="bm-mr-24px">
          <span nz-tooltip
            [nzTooltipTitle]="contentTemplate"
            [nzTooltipTitleContext]="{ $implicit: 'Người tổ chức' }">
            <span nz-icon
              class="bm-color-009cdb bm-mr-4px"
              nzType="user-add"
              nzTheme="outline"></span>
          </span>
          <span class="bm-font-head-5s">{{meetingSchedule.CreatorName}} ({{meetingSchedule.PositionName}})</span>
        </div>
        <div class="bm-mr-24px d-flex align-items-center">
          <span nz-tooltip
            [nzTooltipTitle]="contentTemplate"
            [nzTooltipTitleContext]="{ $implicit: 'Địa điểm' }">
            <span nz-icon
              class="bm-color-009cdb bm-mr-4px"
              nzType="environment"
              nzTheme="outline"></span>
          </span>
          <span *ngIf="!modeAdd"
            class="bm-font-head-5s">{{meetingSchedule.RoomName}}</span>
          <bm-lib-dropdown *ngIf="modeAdd"
            class="bm-w-200px"
            [formGroup]="meetingScheduleForm"
            [meetingSchedule]="meetingSchedule"
            [formControlName]="'IdRoom'"
            (selectedChange)="handlerRoomChange($event)">
          </bm-lib-dropdown>
        </div>
        <div>
          <span nz-tooltip
            [nzTooltipTitle]="contentTemplate"
            [nzTooltipTitleContext]="{ $implicit: 'Phòng ban' }">
            <span nz-icon
              class="bm-color-009cdb bm-mr-4px"
              nzType="home"
              nzTheme="outline"></span>
          </span>
          <span class="bm-font-head-5s">{{meetingSchedule.DepartmentName}}</span>
        </div>
      </div>
      <div class="bm-mt-12px bm-pt-12px d-flex align-items-center bm-border-top-general"
        [formGroup]="meetingScheduleForm">
        <nz-form-item class="bm-mb-0">
          <nz-form-control>
            <nz-form-label [nzNoColon]="true"
              [nzFor]="'IsSyncGGCalendar'">
              Đồng bộ lịch lên google calendar
            </nz-form-label>
            <nz-input-group>
              <nz-switch formControlName="IsSyncGGCalendar"
                [nzDisabled]="!isConnectGoogle || !modeAdd"></nz-switch>
              <span *ngIf="!isConnectGoogle"
                class="bm-ml-8px">Bạn chưa kết nối với tài khoản google. <span class="bm-color-009cdb bm-cursor-pointer"
                  (click)="handlerConnect($event)">Kết nối ngay tại đây.</span></span>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </div>
  <div class="h-100 w-100 position-relative bm-mt-12px bm-min-height-234px">
    <div class="w-100 h-100 position-absolute bm-p-12px bm-border-general bm-border-radius-4px d-flex flex-column bm-overflow-auto">
      <div class="grid-box"
        [ngClass]="{'bm-disable bm-pointer-events-none': !modeAdd}">
        <ng-container *ngFor="let item of attendanceType">
          <bm-meeting-schedule-dynamic_field [formGroup]="personnelJoinForm"
            [ignoreMargin]="true"
            [meetingSchedule]="meetingSchedule"
            [item]="item"
            [ignorePersonal]="item | GetIgnorePersonnelPipe:listPersonnelGuestClone:listPersonnelOther:keyFetch"
            [keyFetch]="keyFetch"
            (selectedChange)="handlerSelectedChange($event, item)">
          </bm-meeting-schedule-dynamic_field>
        </ng-container>
      </div>
      <div class="w-100 h-100 position-relative bm-min-height-379px"
        [class.bm-mt-16px]="attendanceType && attendanceType.length">
        <div class="d-flex w-100 h-100 position-absolute">
          <div *ngIf="modeAdd"
            class="h-100 w-50 bm-mr-12px d-flex flex-column">
            <div class="bm-mb-4px bm-font-head-5">Danh sách nhân viên</div>
            <div class="h-100 w-100 bm-border-general d-flex flex-column">
              <div class="bm-p-12px bm-border-bottom-general">
                <div class="d-flex bm-mb-4px w-100">
                  <div class="d-flex align-items-center bm-mr-12px w-50">
                    <nz-select class="w-100"
                      [nzShowSearch]="true"
                      [nzAllowClear]="true"
                      [nzServerSearch]="true"
                      [(ngModel)]="paramsGetPersonnel.idDepartment"
                      [nzPlaceHolder]="'Chọn phòng ban'"
                      [nzNotFoundContent]="notFoundDepartmentTemplate"
                      (ngModelChange)="handlerSelectDepartment($event)"
                      (nzOnSearch)="handlerSearchDepartment($event)"
                      (nzScrollToBottom)="handlerScrollBottomDepartment()">
                      <nz-option *ngFor="let item of listDepartment"
                        [nzValue]="item.Id"
                        [nzLabel]="item.Name">
                      </nz-option>
                    </nz-select>
                    <ng-template #notFoundDepartmentTemplate>
                      <div class="d-flex align-items-center justify-content-center">
                        <span *ngIf="!loadingDepartment">{{paramsGetDepartment.search ? 'Không có kết quả' : 'Chưa có phòng ban nào trong danh sách'}}</span>
                        <nz-spin *ngIf="loadingDepartment"
                          nzSimple></nz-spin>
                      </div>
                    </ng-template>
                  </div>
                  <div class="d-flex align-items-center w-50">
                    <nz-select class="w-100"
                      [nzShowSearch]="true"
                      [nzAllowClear]="true"
                      [nzServerSearch]="true"
                      [(ngModel)]="paramsGetPersonnel.idPosition"
                      [nzPlaceHolder]="'Chọn chức vụ'"
                      [nzNotFoundContent]="notFoundPositionTemplate"
                      (ngModelChange)="handlerSelectPosition()"
                      (nzOnSearch)="handlerSearchPosition($event)"
                      (nzScrollToBottom)="handlerScrollBottomPosition()">
                      <nz-option *ngFor="let item of listPosition"
                        [nzValue]="item.Id"
                        [nzLabel]="item.Name">
                      </nz-option>
                    </nz-select>
                    <ng-template #notFoundPositionTemplate>
                      <div class="d-flex align-items-center justify-content-center">
                        <span *ngIf="!loadingPosition">{{paramsGetPosition.search ? 'Không có kết quả' : 'Chưa có chức vụ nào trong danh sách'}}</span>
                        <nz-spin *ngIf="loadingPosition"
                          nzSimple></nz-spin>
                      </div>
                    </ng-template>
                  </div>
                </div>
                <nz-input-group [nzSuffix]="suffixIconSearch">
                  <input type="text"
                    nz-input
                    placeholder="Tìm theo tên nhân viên"
                    (keyup)="handlerKeyUp($event)" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                  <i nz-icon
                    nzType="search"></i>
                </ng-template>
              </div>
              <div class="w-100 h-100 position-relative">
                <div class="w-100 h-100 position-absolute bm-overflow-auto"
                  (scroll)="handlerScrollBottomPersonnel($event)">
                  <div *ngFor="let personnel of (listPersonnel | CheckPersonnelGuestMeetingSchedulePipe:listPersonnelGuest)"
                    class="d-flex flex-column bm-pl-12px bm-py-6px bm-border-bottom-general">
                    <label nz-checkbox
                      [nzDisabled]="disableChangePersonnelJoin"
                      [ngModel]="personnel.IdAccount | CheckPersonnelJoinMeetingSchedulePipe:listPersonnelGuestClone"
                      (ngModelChange)="handlerAddGuestToMeetingSchedule($event, personnel)">{{personnel.FullName}}</label>
                    <span class="bm-ml-24px">Chức vụ: {{personnel.PositionName}} ({{personnel.DepartmentName}})</span>
                  </div>
                  <div class="h-100 w-100 d-flex align-items-center justify-content-center"
                    *ngIf="!listPersonnel || !listPersonnel.length">
                    <span *ngIf="!loadingPersonnel">{{paramsGetPersonnel.search ? 'Không có kết quả' : 'Chưa có nhân viên nào trong danh sách'}}</span>
                    <nz-spin *ngIf="loadingPersonnel"
                      nzTip="Đang tải..."
                      nzSimple></nz-spin>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="h-100 w-50 d-flex flex-column">
            <div class="bm-mb-4px bm-font-head-5">Danh sách khách mời</div>
            <div class="w-100 h-100 position-relative">
              <div class="h-100 w-100 bm-border-general d-flex flex-column">
                <div class="bm-p-12px bm-border-bottom-general">
                  <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text"
                      nz-input
                      placeholder="Tìm theo tên nhân viên"
                      (keyup)="handlerKeyUpPersonnelJoin($event)" />
                  </nz-input-group>
                  <ng-template #suffixIconSearch>
                    <i nz-icon
                      nzType="search"></i>
                  </ng-template>
                </div>
                <div class="w-100 h-100 position-relative">
                  <div class="w-100 h-100 position-absolute bm-overflow-auto">
                    <div *ngFor="let personnel of (listPersonnelGuest | CheckPersonnelGuestMeetingSchedulePipe:listPersonnelGuestSearch:paramsGetDetail.search:true); index as i"
                      class="bm-px-12px bm-py-6px bm-border-bottom-general d-flex align-items-center justify-content-between">
                      <div class="d-flex flex-column">
                        <span>{{personnel.FullName}}
                          <span nz-tooltip
                            [nzTooltipTitle]="contentTemplate"
                            [nzTooltipTitleContext]="{ $implicit: 'Thời gian điểm danh: ' + (personnel.AttendanceTime | date: 'dd/MM/YYYY HH:mm') }">
                            <span nz-icon
                              *ngIf="personnel.AttendanceTime"
                              class="bm-color-6fd100 bm-ml-4px"
                              nzType="check-circle"
                              nzTheme="outline">
                            </span>
                          </span>
                        </span>
                        <span>Chức vụ: {{personnel.PositionName}} ({{personnel.DepartmentName}})</span>
                      </div>
                      <span nz-tooltip
                        [nzTooltipTitle]="'Xoá người tham gia'">
                        <span nz-icon
                          class="bm-cursor-pointer bm-color-ff5454"
                          *ngIf="!disableChangePersonnelJoin"
                          nzType="close-circle"
                          (click)="handlerRemovePersonnelJoin($event, personnel)"
                          nzTheme="outline"></span>
                      </span>
                    </div>
                    <div class="h-100 w-100 d-flex align-items-center justify-content-center"
                      *ngIf="!listPersonnelGuest || !listPersonnelGuest.length">
                      <span *ngIf="!loadingDetail">{{paramsGetDetail.search ? 'Không có kết quả' : 'Chưa có nhân viên nào tham gia cuộc họp'}}</span>
                      <nz-spin *ngIf="loadingDetail"
                        nzTip="Đang tải..."
                        nzSimple></nz-spin>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTemplate
  let-content>
  <span class="bm-max-h-100px bm-overflow-auto">{{ content }}</span>
</ng-template>