<div class="w-100 h-100 d-flex">
  <div class="w-20 bm-pr-12px">
    <div class="bm-mb-4px"><span>Tên cuộc họp: <span class="bm-font-head-5s">{{meetingSchedule.Title}}</span></span></div>
    <div class="bm-mb-4px"><span>Trạng thái: <span class="bm-font-head-5s">{{meetingSchedule.EstStartTime |CheckStatusMeetingSchedulePipe:meetingSchedule.EstEndTime:meetingSchedule.EstDuration}}</span>
      </span></div>
    <div class="bm-mb-4px"><span>Địa điểm: <span class="bm-font-head-5s">{{meetingSchedule.RoomName}}</span>
      </span></div>
    <div class="bm-mb-4px"><span>Nội dung chi tiết: <span class="bm-font-head-5s">{{meetingSchedule.Content}}</span>
      </span></div>
    <div class="bm-mb-4px"><span>Người tổ chức: <span class="bm-font-head-5s">{{meetingSchedule.CreatorName}}</span>
      </span></div>
  </div>
  <div class="bm-pl-12px w-80">
    <div class="d-flex w-100 h-100">
      <div class="h-100 w-50 bm-mr-6px d-flex flex-column">
        <div class="bm-mb-4px bm-font-head-5">Danh sách nhân viên</div>
        <div class="h-100 w-100 bm-border-general d-flex flex-column">
          <div class="bm-p-12px bm-border-bottom-general">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text"
                nz-input
                placeholder="Tìm theo tên nhân viên"
                (keyup)="handlerKeyUp($event)" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <i nz-icon
                nzType="search"></i>
            </ng-template>
          </div>
          <div class="w-100 h-100 bm-overflow-auto">
            <div *ngFor="let personnel of listPersonnel; index as i"
              class="bm-py-6px bm-border-bottom-general">
              <label nz-checkbox
                [nzDisabled]="disableChangePersonnelJoin"
                [ngModel]="personnel.Id | CheckPersonnelJoinMeetingSchedulePipe:listPersonnelJoin"
                (ngModelChange)="handlerAddPersonnelToMeetingSchedule($event, personnel, index)">{{personnel.Name}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="h-100 w-50 bm-ml-6px d-flex flex-column">
        <div class="bm-mb-4px bm-font-head-5">Danh sách nhân viên tham gia</div>
        <div class="w-100 h-100 bm-border-general bm-overflow-auto bm-p-12px">
          <div *ngFor="let personnel of listPersonnel; index as i"
            class="bm-py-6px bm-border-bottom-general d-flex align-items-center justify-content-between">
            <span>{{personnel.Name}}</span>
            <span nz-icon
              class="bm-cursor-pointer bm-color-ff5454"
              [class.bm-disable]="disableChangePersonnelJoin"
              nzType="close-circle"
              (click)="handlerRemovePersonnelJoin($event, i)"
              nzTheme="outline"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>