.card {
  height: 100%;
  border-radius: 2px !important;
  background-color: #ffffff !important;
  .card-header {
    border-bottom: 0 !important;
    background-color: #ffffff !important;
    .search {
      border-radius: 15px 0 0 15px !important;
      background-color: #f0f2f5 !important;
      border: 0 !important;
      color: #000 !important;
      &:focus {
        box-shadow: none !important;
        outline: 0px !important;
      }
    }
    .search_btn {
      border-radius: 0 15px 15px 0 !important;
      background-color: #f0f2f5 !important;
      border: 0 !important;
      color: #000 !important;
      cursor: pointer;
    }
  }
  .contacts_body {
    padding: 0 !important;
    overflow-y: auto;
    white-space: nowrap;
    .contacts {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        width: 100% !important;
        padding: 12px;
        &:hover {
          background-color: #f0f2f5;
        }
      }
      .active {
        background-color: #f0f2f5;
      }
      .img_cont {
        position: relative;
        height: 50px;
        width: 50px;
        .user_img {
          height: 50px;
          width: 50px;
          border: 1.5px solid #f5f6fa;
        }
        .online_icon {
          position: absolute;
          height: 14px;
          width: 14px;
          border-radius: 50%;
          bottom: 0px;
          right: 3px;
          border: 2.5px solid white;
        }
        .online {
          background-color: #4cd137;
        }
        .offline {
          background-color: #ff5454;
        }
      }
      .user_info {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15px;
        span {
          font-size: 14px;
          color: #000000;
        }
        p {
          font-size: 10px;
          color: #000;
        }
      }
    }
  }
}
