<div [formGroup]="formGroup">
  <nz-form-item class="bm-mb-0"
    [class.bm-mt-16px]="!ignoreMargin">
    <nz-form-control [nzErrorTip]="item.Name + ' không thể để trống!'">
      <nz-form-label [nzNoColon]="true"
        [nzFor]="item.Code">
        {{item.Name}}
      </nz-form-label>
      <nz-select [nzShowSearch]="true"
        [nzServerSearch]="true"
        [formControlName]="item.Code"
        [nzPlaceHolder]="'Chọn nhân viên'"
        [nzNotFoundContent]="notFoundContentTemplate"
        (nzOnSearch)="handlerSearchPersonnel($event)"
        (nzScrollToBottom)="handlerScrollBottomPersonnel()"
        (ngModelChange)="handlerChangeSelected($event)">
        <nz-option *ngFor="let personnel of listPersonnel"
          [nzValue]="personnel.Id"
          [nzLabel]="personnel.FullName + ' (' + personnel.PositionName + ' - ' + personnel.DepartmentName + ')'"
          [nzCustomContent]="true"
          [nzDisabled]="personnel.CountMsDuplicate > 0">
          <span class="bm-mr-8px">{{personnel.FullName + ' (' + personnel.PositionName + ' - ' + personnel.DepartmentName + ')'}}</span>
          <span nz-tooltip
            *ngIf="personnel.CountMsDuplicate > 0"
            [nzTooltipTitle]="msDuplicate"
            class="bm-color-ff5454">
            <span nz-icon
              nzType="exclamation-circle"
              nzTheme="outline"></span>
          </span>
          <ng-template #msDuplicate>
            <div class="bm-max-h-100px bm-overflow-auto bm-font-head-5">Người này đã có lịch họp trong khoảng thời gian bạn chọn.
              <span class="bm-cursor-pointer bm-font-head-5 bm-color-009cdb"
                (click)="handlerViewMsDuplicate($event, personnel.IdMsDuplicate)">Xem lịch trùng</span>
            </div>
          </ng-template>
        </nz-option>
      </nz-select>
      <ng-template #notFoundContentTemplate>
        <div class="d-flex align-items-center justify-content-center">
          <span *ngIf="!loadingPersonnel">{{paramsGetPersonnel.search ? 'Không có kết quả' : 'Chưa có nhân viên nào trong danh sách'}}</span>
          <nz-spin *ngIf="loadingPersonnel"
            nzSimple></nz-spin>
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
</div>