<form nz-form
  class="w-100 h-100"
  [formGroup]="meetingRoomForm">
  <div class="h-100 w-100 d-flex flex-column justify-content-between">
    <div>
      <nz-form-item class="bm-mb-0">
        <nz-form-control nzErrorTip="Tên phòng họp không thể để trống!">
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'name'">
            Tên phòng họp
          </nz-form-label>
          <nz-input-group>
            <input type="text"
              nz-input
              class="bm-border-radius-4px"
              formControlName="name"
              placeholder="Nhập tên phòng họp">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="bm-mb-0 bm-mt-16px">
        <nz-form-control nzErrorTip="Số lượng người tối đa không thể để trống!">
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'maximum_capacity'">
            Số lượng người tối đa
          </nz-form-label>
          <nz-input-group>
            <nz-input-number class="w-100 bm-border-radius-4px"
              nzPlaceHolder="Nhập số lượng người tối đa"
              formControlName="maximum_capacity"
              [nzMin]="1"
              [nzMax]="100"
              [nzStep]="1"></nz-input-number>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="bm-mb-0 bm-mt-16px">
        <nz-form-control>
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'description'">
            Mô tả
          </nz-form-label>
          <nz-input-group>
            <textarea nz-input
              formControlName="description"
              placeholder="Nhập mô tả"
              [nzAutosize]="{ minRows: 8, maxRows: 8 }"></textarea>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="d-flex justify-content-end bm-mt-20px">
      <button nz-button
        nzType="primary"
        [nzLoading]="!!loading"
        (click)="handlerUpdate($event)">{{modeEdit ? 'Cập nhật' : 'Lưu'}}</button>
    </div>
  </div>
</form>

<ng-template #tagPlaceHolderTpl
  let-selectedList>và {{ selectedList.length }} nhân viên khác</ng-template>