<form nz-form
  class="w-100"
  [formGroup]="functionForm">
  <div class="h-100 w-100 d-flex flex-column justify-content-between">
    <div>
      <nz-form-item class="bm-mb-0">
        <nz-form-control nzErrorTip="Tên chức năng không được để trống!">
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'Name'">
            Tên chức năng
          </nz-form-label>
          <nz-input-group>
            <input type="text"
              nz-input
              class="bm-border-radius-4px"
              formControlName="Name"
              placeholder="Nhập tên chức năng">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="bm-mb-0 bm-mt-16px">
        <nz-form-control [nzErrorTip]="codeErrorTip">
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'Code'">
            Mã chức năng
          </nz-form-label>
          <nz-input-group>
            <input type="text"
              nz-input
              class="bm-border-radius-4px"
              formControlName="Code"
              placeholder="Nhập mã chức năng">
          </nz-input-group>
        </nz-form-control>
        <ng-template #codeErrorTip
          let-control>
          <span class="font-size-11"
            *ngIf="control.hasError('required')">Mã chức năng không được để trống!</span>
          <span class="font-size-11"
            *ngIf="control.hasError('pattern')">
            Mã chức năng không đúng định dạng!
          </span>
        </ng-template>
      </nz-form-item>
      <nz-form-item class="bm-mb-0 bm-mt-16px">
        <nz-form-control [nzErrorTip]="urlErrorTip">
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'Url'">
            Đường dẫn tới trang
          </nz-form-label>
          <nz-input-group>
            <input type="text"
              nz-input
              class="bm-border-radius-4px"
              formControlName="Url"
              placeholder="Nhập đường dẫn tới trang">
          </nz-input-group>
        </nz-form-control>
        <ng-template #urlErrorTip
          let-control>
          <span class="font-size-11"
            *ngIf="control.hasError('required')">Đường dẫn tới trang không được để trống!</span>
          <span class="font-size-11"
            *ngIf="control.hasError('pattern')">
            Đường dẫn tới trang không đúng định dạng!
          </span>
        </ng-template>
      </nz-form-item>
      <nz-form-item class="bm-mb-0 bm-mt-16px">
        <nz-form-control>
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'IsMenu'">
            Hiển thị trên menu
          </nz-form-label>
          <nz-input-group>
            <nz-switch formControlName="IsMenu"></nz-switch>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="bm-mb-0 bm-mt-16px">
        <nz-form-control>
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'Description'">
            Mô tả
          </nz-form-label>
          <nz-input-group>
            <textarea nz-input
              formControlName="Description"
              placeholder="Nhập mô tả"
              [nzAutosize]="{ minRows: 8, maxRows: 8 }"></textarea>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="bm-mb-0 bm-mt-16px">
        <nz-form-control>
          <nz-form-label [nzNoColon]="true"
            [nzFor]="'Active'">
            Trạng thái
          </nz-form-label>
          <nz-input-group>
            <nz-switch formControlName="Active"></nz-switch>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="d-flex justify-content-end bm-mt-20px">
      <button nz-button
        nzType="primary"
        [nzLoading]="loading"
        (click)="handlerSave($event)">{{modeEdit ? 'Cập nhật' : 'Lưu'}}</button>
    </div>
  </div>
</form>