<div class="d-flex h-100 w-100 justify-content-center align-items-center">
  <div
    class="bm-bg-ffffff bm-w-604px bm-border-radius-4px bm-border-general d-flex align-items-center justify-content-center bm-px-42px bm-py-20px">
    <div class="w-80">
      <div class="bm-font-head-2s">ĐĂNG KÝ</div>
      <div class="bm-mt-8px bm-mb-20px">Bạn hãy điền đầy đủ thông tin để đăng ký tài khoản nhé.</div>
      <form nz-form
        [formGroup]="signUpForm">
        <nz-form-item class="bm-mb-0">
          <nz-form-control nzErrorTip="Tài khoản không thể để trống!">
            <nz-input-group [nzPrefix]="prefixUser">
              <input type="text"
                nz-input
                formControlName="userName"
                placeholder="Tài khoản">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="bm-mt-16px bm-mb-0">
          <nz-form-control [nzErrorTip]="emailErrorTpl">
            <nz-input-group [nzPrefix]="prefixEmail">
              <input [type]="'text'"
                nz-input
                formControlName="email"
                placeholder="Nhập email">
            </nz-input-group>
          </nz-form-control>
          <ng-template #emailErrorTpl
            let-control>
            <ng-container *ngIf="control.hasError('required')">Email không thể để trống!</ng-container>
            <ng-container *ngIf="control.hasError('email')">Email không đúng định dạng!</ng-container>
          </ng-template>
        </nz-form-item>
        <nz-form-item class="bm-mt-16px bm-mb-0">
          <nz-form-control nzErrorTip="Mật khẩu không thể để trống!">
            <nz-input-group [nzPrefix]="prefixLock"
              [nzSuffix]="suffixTemplatePassword">
              <input [type]="passwordVisible ? 'text' : 'password'"
                nz-input
                formControlName="password"
                placeholder="Mật khẩu">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="bm-mt-16px bm-mb-0">
          <nz-form-control [nzErrorTip]="passwordConfirmErrorTpl">
            <nz-input-group [nzPrefix]="prefixLock"
              [nzSuffix]="suffixTemplateConfirmPassword">
              <input [type]="confirmPasswordVisible ? 'text' : 'password'"
                nz-input
                formControlName="confirm_password"
                placeholder="Nhập lại mật khẩu">
            </nz-input-group>
          </nz-form-control>
          <ng-template #passwordConfirmErrorTpl
            let-control>
            <ng-container *ngIf="control.hasError('required')">Mật khẩu nhập lại không thể để trống!</ng-container>
            <ng-container *ngIf="control.hasError('confirm')">Mật khẩu nhập lại không trùng khớp!</ng-container>
          </ng-template>
        </nz-form-item>
        <nz-form-item class="bm-mt-16px bm-mb-0">
          <nz-form-control>
            <button nz-button
              [nzType]="'primary'"
              [nzLoading]="!!loading"
              (click)="handlerSignUp()">Đăng Ký<i nz-icon
                nzType="login"></i></button>
            <div class="bm-font-head-5">
              Bạn đã có tài khoản? <a (click)="handlerLogin()"
                nz-button
                class="bm-p-0 bm-color-009cdb"
                nzType="link">Đăng nhập</a>
            </div>
          </nz-form-control>
        </nz-form-item>
      </form>
      <ng-template #prefixUser><i nz-icon
          nzType="user"></i></ng-template>
      <ng-template #prefixLock><i nz-icon
          nzType="lock"></i></ng-template>
      <ng-template #prefixEmail><i nz-icon
          nzType="mail"></i></ng-template>
      <ng-template #suffixTemplatePassword>
        <i nz-icon
          [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
          (click)="handlerChangeViewPassword('password')"></i>
      </ng-template>
      <ng-template #suffixTemplateConfirmPassword>
        <i nz-icon
          [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
          (click)="handlerChangeViewPassword('')"></i>
      </ng-template>
    </div>
  </div>
</div>