<div class="d-flex h-100 w-100 justify-content-center align-items-center">
  <div class="hn-bg-ffffff hn-w-681px container">
    <div class="hn-my-20px">
      <div class="d-flex justify-content-center align-items-center flex-column">
        <i nz-icon nzType="wechat" nzTheme="outline" class="hn-font-size-100px hn-color-4cb7ff"></i>
        <p class="hn-font-size-20px hn-m-0">Live Chat</p>
      </div>
    </div>
    <div class="d-flex justify-content-start align-items-center hn-my-20px flex-column">
      <span class="hn-mb-4px w-70">Tên tài khoản (Email)</span>
      <nz-input-group [nzPrefix]="prefixTemplateEmail" class="w-70 hn-border-radius-4px">
        <input type="text" nz-input placeholder="Nhập tên tài khoản" [(ngModel)]="user.email"/>
      </nz-input-group>
      <ng-template #prefixTemplateEmail><i nz-icon nzType="mail" class="hn-mr-5px"></i></ng-template>
    </div>
    <div class="d-flex justify-content-start align-items-center hn-my-20px flex-column">
      <span class="hn-mb-4px w-70">Họ và tên</span>
      <nz-input-group [nzPrefix]="prefixTemplateName" class="w-70 hn-border-radius-4px">
        <input type="text" nz-input placeholder="Nhập họ và tên" [(ngModel)]="user.name"/>
      </nz-input-group>
      <ng-template #prefixTemplateName><i nz-icon nzType="user" class="hn-mr-5px"></i></ng-template>
    </div>
    <div class="d-flex justify-content-start align-items-center hn-my-20px flex-column">
      <span class="hn-mb-4px w-70">Ảnh đại diện</span>
      <nz-input-group [nzPrefix]="prefixTemplateAvatar" class="w-70 hn-border-radius-4px">
        <input type="text" nz-input placeholder="Nhập ảnh đại diện" [(ngModel)]="user.avatar"/>
      </nz-input-group>
      <ng-template #prefixTemplateAvatar><i nz-icon nzType="picture" nzTheme="outline" class="hn-mr-5px"></i></ng-template>
    </div>
    <div class="d-flex justify-content-start align-items-center hn-my-20px flex-column">
      <span class="hn-mb-4px w-70">Số điện thoại</span>
      <nz-input-group [nzPrefix]="prefixTemplatePhone" class="w-70 hn-border-radius-4px">
        <input type="text" nz-input placeholder="Nhập số điện thoại" [(ngModel)]="user.phone"/>
      </nz-input-group>
      <ng-template #prefixTemplatePhone><i nz-icon nzType="phone" nzTheme="outline" class="hn-mr-5px"></i></ng-template>
    </div>
    <div class="d-flex justify-content-start align-items-center hn-my-20px flex-column">
      <span class="hn-mb-4px w-70">Mật khẩu</span>
      <nz-input-group [nzPrefix]="prefixTemplatePassword" [nzSuffix]="suffixTemplatePassword" class="w-70 hn-border-radius-4px">
        <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Nhập mật khẩu" [(ngModel)]="user.password"/>
      </nz-input-group>
      <ng-template #prefixTemplatePassword><i nz-icon nzType="unlock" class="hn-mr-5px"></i></ng-template>
      <ng-template #suffixTemplatePassword>
        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="changeViewPass('password')"></i>
      </ng-template>
    </div>
    <div class="d-flex justify-content-start align-items-center hn-my-20px flex-column">
      <span class="hn-mb-4px w-70">Nhập lại mật khẩu</span>
      <nz-input-group [nzPrefix]="prefixTemplateRePassword" [nzSuffix]="suffixTemplateRePassword" class="w-70 hn-border-radius-4px">
        <input [type]="rePasswordVisible ? 'text' : 'password'" nz-input placeholder="Nhập lại mật khẩu" [(ngModel)]="user.rePassword"/>
      </nz-input-group>
      <ng-template #prefixTemplateRePassword><i nz-icon nzType="unlock" class="hn-mr-5px"></i></ng-template>
      <ng-template #suffixTemplateRePassword>
        <i nz-icon [nzType]="rePasswordVisible ? 'eye-invisible' : 'eye'" (click)="changeViewPass('rePassword')"></i>
      </ng-template>
    </div>
    <div class="d-flex justify-content-center align-items-center hn-my-30px">
      <button nz-button nzType="primary" [nzLoading]="onRegister" (click)="handlerSignUp()">Sign up</button>
      <button nz-button nzType="primary" class="hn-ml-20px" (click)="handlerLogin()">Login</button>
    </div>
  </div>
</div>
