<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    [nzWidth]="256"
    [nzCollapsedWidth]="40"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo"
      [ngClass]="{'bm-pl-5px': isCollapsed}">
      <img src="../../assets/images/logo2.png"
        alt="">
      <h1>Book Meeting</h1>
    </div>
    <ul nz-menu
      class="h-100 bm-overflow-y-auto"
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed">
      <ng-container *ngFor="let menu of menuData">
        <li nz-menu-item
          *ngIf="menu.Url"
          [ngClass]="{'bm-bg-1890ff': menu.Url === currentPath, 'bm-pl-12px': true}"
          (click)="handlerRouting($event, menu.Url)">
          <span nz-icon
            [nzType]="menu.Icon"></span>
          <span>{{menu.Name}}</span>
        </li>
        <li nz-submenu
          *ngIf="!menu.Url"
          nzOpen
          [nzTitle]="menu.Name"
          [nzIcon]="menu.Icon"
          (click)="handlerChangeOpen($event)">
          <ul *ngIf="menu?.FunctionChilds?.length">
            <ng-container *ngFor="let item of menu.FunctionChilds">
              <li nz-menu-item
                [ngClass]="{'bm-bg-1890ff': item.Url === currentPath, 'bm-pl-24px': true}"
                (click)="handlerRouting($event, item.Url)">
                {{item.Name}}
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div class="header-trigger"
          (click)="isCollapsed = !isCollapsed">
          <i class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </div>
        <div class="d-flex align-items-center bm-mr-12px">
          <span nz-tooltip
            [nzTooltipTitle]="contentTemplate">
            <img [src]="accountFromCache.AvatarUrl || 'https://t3.ftcdn.net/jpg/02/09/37/00/360_F_209370065_JLXhrc5inEmGl52SyvSPeVB23hB6IjrR.jpg'"
              alt=""
              class="bm-w-40px bm-h-40px bm-border-radius-50em bm-border-general bm-mr-12px">
          </span>
          <ng-template #contentTemplate>
            {{accountFromCache.PositionName}}: {{accountFromCache.FullName}}
          </ng-template>
          <nz-badge class="bm-mt-10px"
            [nzCount]="100"
            nzSize="small">
            <i class="notification"
              nz-icon
              nzType="bell"
              nzTheme="outline"></i>
          </nz-badge>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>