<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <i nz-icon
        nzType="fire"
        nzTheme="outline"
        class="bm-font-size-30px bm-color-ffffff"
        style="color: #ffffff;"></i>
      <h1 class="bm-mb-12px">BM - Solution</h1>
    </div>
    <ul nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu
        nzOpen
        nzTitle="Quản lý"
        nzIcon="user">
        <ul>
          <li nz-menu-item
            nzMatchRouter>
            <a routerLink="personnel"
              class="bm-text-decorations-none">Nhân sự</a>
          </li>
          <li nz-menu-item
            nzMatchRouter>
            <a routerLink="department"
              class="bm-text-decorations-none">Phòng, Ban</a>
          </li>
          <li nz-menu-item
            nzMatchRouter>
            <a routerLink="meeting"
              class="bm-text-decorations-none">Phòng họp</a>
          </li>
          <li nz-menu-item
            nzMatchRouter>
            <a routerLink="meeting-schedule"
              class="bm-text-decorations-none">Lịch họp</a>
          </li>
        </ul>
      </li>
      <li nz-submenu
        nzOpen
        nzTitle="Cài đặt"
        nzIcon="setting">
        <ul>
          <li nz-menu-item
            nzMatchRouter>
            <a routerLink="account"
              class="bm-text-decorations-none">Tài khoản</a>
          </li>
          <li nz-menu-item
            nzMatchRouter>
            <a (click)="handlerLogout()">Đăng xuất</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger"
          (click)="isCollapsed = !isCollapsed">
          <i class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>