<div class="w-100 h-100 d-flex flex-column">
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <div class="bm-font-head-3s bm-mr-24px">Phân quyền chức năng</div>
    </div>
    <div class="d-flex">
      <div class="d-flex align-items-center bm-mr-12px">
        <nz-select class="bm-w-200px"
          [nzShowSearch]="true"
          [nzAllowClear]="true"
          [nzServerSearch]="true"
          [(ngModel)]="paramsGetPosition.idDepartment"
          [nzPlaceHolder]="'Chọn phòng ban'"
          [nzNotFoundContent]="notFoundDepartmentTemplate"
          (ngModelChange)="handlerSelectDepartment($event)"
          (nzOnSearch)="handlerSearchDepartment($event)"
          (nzScrollToBottom)="handlerScrollBottomDepartment()">
          <nz-option *ngFor="let item of listDepartment"
            [nzValue]="item.Id"
            [nzLabel]="item.Name">
          </nz-option>
        </nz-select>
        <ng-template #notFoundDepartmentTemplate>
          <div class="d-flex align-items-center justify-content-center">
            <span *ngIf="!loadingDepartment">{{paramsGetDepartment.search ? 'Không có kết quả' : 'Chưa có phòng ban nào trong danh sách'}}</span>
            <nz-spin *ngIf="loadingDepartment"
              nzSimple></nz-spin>
          </div>
        </ng-template>
      </div>
      <div class="d-flex align-items-center bm-mr-12px">
        <nz-select class="bm-w-200px"
          [nzShowSearch]="true"
          [nzServerSearch]="true"
          [(ngModel)]="paramsGetListRole.idPosition"
          [nzPlaceHolder]="'Chọn chức vụ'"
          [nzNotFoundContent]="notFoundContentTemplate"
          (ngModelChange)="handlerSelectPosition()"
          (nzOnSearch)="handlerSearchPosition($event)"
          (nzScrollToBottom)="handlerScrollBottom()">
          <nz-option *ngFor="let item of listPosition"
            [nzValue]="item.Id"
            [nzLabel]="item.Name">
          </nz-option>
        </nz-select>
        <ng-template #notFoundContentTemplate>
          <div class="d-flex align-items-center justify-content-center">
            <span *ngIf="!loadingPosition">{{paramsGetPosition.search ? 'Không có kết quả' : 'Chưa có chức vụ nào trong danh sách'}}</span>
            <nz-spin *ngIf="loadingPosition"
              nzSimple></nz-spin>
          </div>
        </ng-template>
      </div>
      <nz-input-group class="bm-w-503px"
        [nzSuffix]="suffixIconSearch">
        <input type="text"
          nz-input
          placeholder="Tìm theo tên chức năng"
          (keyup)="handlerKeyUp($event)" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon
          nzType="search"></i>
      </ng-template>
    </div>
  </div>
  <div class="h-100 w-100 bm-mt-12px bm-overflow-auto">
    <div class="h-100 d-flex flex-column align-items-center"
      *ngIf="listFunction && listFunction.length; last as last">
      <div *ngFor="let function of listFunction"
        class="bm-border-general bm-border-radius-4px bm-p-12px bm-bg-ffffff bm-percent-max-width-65 bm-min-width-800px"
        [ngClass]="{'bm-mb-12px': !last}">
        <div class="bm-mb-4px">
          <label nz-checkbox
            [nzDisabled]="!paramsGetListRole.idPosition"
            [(ngModel)]="function.checked"
            (ngModelChange)="handlerUpdateRole($event, function)"><span>{{function.Name}}</span></label>
        </div>
        <div *ngIf="function.FunctionChilds?.length"
          class="row">
          <div *ngFor="let childFunction of function.FunctionChilds"
            class="col-3">
            <label nz-checkbox
              [nzDisabled]="!paramsGetListRole.idPosition"
              [(ngModel)]="childFunction.checked"
              (ngModelChange)="handlerUpdateRole($event, childFunction)"><span>{{childFunction.Name}}</span></label>
          </div>
        </div>
      </div>
    </div>
    <div class="h-100 w-100 d-flex align-items-center justify-content-center"
      *ngIf="!listFunction || !listFunction.length">
      <span *ngIf="!loading">{{params.search ? 'Không có kết quả' : 'Chưa có chức năng nào trong danh sách'}}</span>
      <nz-spin *ngIf="loading"
        nzTip="Đang tải..."
        nzSimple></nz-spin>
    </div>
  </div>
</div>

<ng-template #totalTemplate
  let-total>Tổng cộng {{ total }} bản ghi</ng-template>