<nz-table #memberTable
  [nzScroll]="{ y: 'calc(100vh - 210px)' }"
  [nzFrontPagination]="false"
  [nzData]="listMember"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndexGroup"
  [nzNoResult]="empty"
  [nzLoading]="loading"
  [nzShowTotal]="totalTemplate"
  nzBordered
  nzShowPagination
  nzPaginationType="small"
  (nzQueryParams)="handlerQueryParamsChange($event)">
  <thead>
    <tr>
      <th *ngFor="let column of columnConfig"
        [nzAlign]="'left'"
        class="bm-font-head-4s">
        {{ column }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of memberTable.data;  let i=index">
      <td>{{item.name}}</td>
      <td>{{item.regency}}</td>
      <!-- <td class="bm-color-009cdb bm-cursor-pointer"
        (click)="handlerViewMember($event, item.name)">{{item.member_count}}</td> -->
    </tr>
  </tbody>
</nz-table>

<ng-template #empty>
  <nz-empty nzNotFoundImage="simple"
    nzNotFoundContent="Không có dữ liệu"></nz-empty>
</ng-template>

<ng-template #totalTemplate
  let-total>Tổng cộng {{ total }} bản ghi</ng-template>