<div class="w-100 h-100 d-flex">
  <div class="w-35 bm-border-general bm-border-radius-4px bm-p-12px d-flex flex-column">
    <div class="d-flex justify-content-between align-items-center bm-border-bottom-general bm-pb-12px">
      <div class="d-flex align-items-start">
        <img [src]="meetingSchedule.CreatorAvatar"
          class="bm-w-40px bm-h-40px bm-border-radius-50em"
          (error)="handlerErrorImage($event)" />
        <div class="bm-ml-8px">
          <div class="d-flex align-items-center bm-font-head-4s bm-mb-4px">{{meetingSchedule.Title}}</div>
          <div class="bm-font-size-10px bm-color-999999">({{meetingSchedule.EstStartTime | date: 'dd/MM/YYYY HH:mm'}} - {{meetingSchedule.EstEndTime | date: 'dd/MM/YYYY HH:mm'}})</div>
        </div>
      </div>
      <div class="d-flex">
        <button nzType="primary"
          *ngIf="!disableChangePersonnelJoin"
          nz-button>Điểm danh</button>
        <button class="bm-ml-12px"
          *ngIf="!disableChangePersonnelJoin && !modeAdd"
          nz-button
          (click)="handlerChangeModeAdd($event)">Thêm người tham gia</button>
        <button class="bm-ml-12px"
          *ngIf="modeAdd"
          nz-button
          (click)="handlerBack($event)">Quay lại</button>
      </div>
    </div>
    <div class="bm-mt-12px">
      <div class="bm-font-head-5">
        {{meetingSchedule.Content}}
      </div>
      <div class="bm-mt-12px bm-pt-12px d-flex align-items-center bm-border-top-general">
        <div class="bm-mr-24px">
          <span nz-tooltip
            [nzTooltipTitle]="contentTemplate"
            [nzTooltipTitleContext]="{ $implicit: 'Người tổ chức' }">
            <span nz-icon
              class="bm-color-009cdb bm-mr-4px"
              nzType="user-add"
              nzTheme="outline"></span>
          </span>
          <span class="bm-font-head-5s">{{meetingSchedule.CreatorName}} ({{meetingSchedule.PositionName}})</span>
        </div>
        <div class="bm-mr-24px">
          <span nz-tooltip
            [nzTooltipTitle]="contentTemplate"
            [nzTooltipTitleContext]="{ $implicit: 'Địa điểm' }">
            <span nz-icon
              class="bm-color-009cdb bm-mr-4px"
              nzType="environment"
              nzTheme="outline"></span>
          </span>
          <span class="bm-font-head-5s">{{meetingSchedule.RoomName}}</span>
        </div>
        <div>
          <span nz-tooltip
            [nzTooltipTitle]="contentTemplate"
            [nzTooltipTitleContext]="{ $implicit: 'Phòng ban' }">
            <span nz-icon
              class="bm-color-009cdb bm-mr-4px"
              nzType="home"
              nzTheme="outline"></span>
          </span>
          <span class="bm-font-head-5s">{{meetingSchedule.DepartmentName}}</span>
        </div>
      </div>
    </div>
    <div class="w-100 h-100 position-relative bm-mt-12px bm-border-top-general">
      <div class="w-100 h-100 position-absolute bm-pt-12px d-flex flex-column">
        <div class="bm-mb-4px bm-font-head-5">Danh sách nhân viên tham gia</div>
        <div class="w-100 h-100 position-relative">
          <div class="w-100 h-100 position-absolute bm-overflow-auto">
            <div *ngFor="let personnel of listPersonnelJoin; index as i"
              class="bm-px-12px bm-py-6px bm-border-bottom-general d-flex align-items-center justify-content-between">
              <div class="d-flex flex-column">
                <span>{{personnel.FullName}}
                  <span nz-tooltip
                    [nzTooltipTitle]="contentTemplate"
                    [nzTooltipTitleContext]="{ $implicit: 'Thời gian điểm danh: ' + (personnel.AttendanceTime | date: 'dd/MM/YYYY HH:mm') }">
                    <span nz-icon
                      *ngIf="personnel.AttendanceTime"
                      class="bm-color-6fd100 bm-ml-4px"
                      nzType="check-circle"
                      nzTheme="outline">
                    </span>
                  </span>
                </span>
                <span>Chức vụ: {{personnel.PositionName}} ({{personnel.DepartmentName}})</span>
              </div>
              <span nz-icon
                class="bm-cursor-pointer bm-color-ff5454"
                *ngIf="!disableChangePersonnelJoin"
                nzType="close-circle"
                (click)="handlerRemovePersonnelJoin($event, personnel)"
                nzTheme="outline"></span>
            </div>
            <div class="h-100 w-100 d-flex align-items-center justify-content-center"
              *ngIf="!listPersonnelJoin || !listPersonnelJoin.length">
              <span *ngIf="!loadingDetail">{{paramsGetDetail.search ? 'Không có kết quả' : 'Chưa có nhân viên nào tham gia cuộc họp'}}</span>
              <nz-spin *ngIf="loadingDetail"
                nzTip="Đang tải..."
                nzSimple></nz-spin>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="h-100 w-65">

  </div>
</div>

<ng-template #contentTemplate
  let-content>
  <span class="bm-max-h-100px bm-overflow-auto">{{ content }}</span>
</ng-template>