@keyframes mo-frame-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes mo-frame-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body {
  background-color: #f2f4f8;
  color: #4e4e4e;
  font-family: SFUIText-Regular, Helvetica, Arial, sans-serif;
  font-size: 12px !important;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 1366px;

  #mo-animation-loading {
    position: absolute;
    -webkit-animation: mo-frame-loading 1s linear infinite;
    animation: mo-frame-loading 1s linear infinite;
    width: 220px;
    height: 220px;
    top: calc(50% - 110px);
    left: calc(50% - 110px);
    border-radius: 50%;
    box-shadow: 0 8px 0 0 #20a8d8;
    -webkit-transform-origin: 110px 114px;
    transform-origin: 110px 114px;
  }
}

.#{$prefixCss}page {
  .row,
  [class*="col-"] {
    margin: 0;
    padding: 0;
  }
  padding-top: 24px;
  padding-left: 12px;
  .#{$prefixCss}page-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 24px;
  }
  .#{$prefixCss}page-body {
    display: flex;
    .#{$prefixCss}page-body-left {
      width: 306px;
      height: calc(100vh - 173px);
      background-color: white;
    }
    .#{$prefixCss}page-body-right {
      width: calc(100% - 306px);
      height: calc(100vh - 173px);
      margin-left: 12px;
    }
  }
}

.#{$prefixCss}page-nav {
  .row,
  [class*="col-"] {
    margin: 0;
    padding: 0;
  }
  padding-left: 72px;
  padding-top: 24px;
  .#{$prefixCss}page-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 24px;
  }
  .#{$prefixCss}page-body {
    display: flex;
    .#{$prefixCss}page-body-left {
      width: 306px;
      height: calc(100vh - 173px);
      background-color: white;
    }
    .#{$prefixCss}page-body-right {
      width: calc(100% - 306px);
      height: calc(100vh - 173px);
      margin-left: 12px;
    }
  }
}
