.datepck {
    border-radius: 0px !important;
    border: 1px solid #e6e8ed !important;
    box-shadow: none !important;
}

.daterangepicker.datepck .drp-buttons {
    border-top: 1px solid #e6e8ed !important;
}

.datepck .calendar-table th, .datepck .calendar-table td {
    font-size: 12px ;
    width: 30px !important;
    height: 30px !important;
}

.datepck .calendar-table tbody td {
    font-size: 12px ;
    width: 30px !important;
    height: 30px !important;
    background-color: #f2f5f7;
    border-bottom: 1px solid #fff !important;
    border-right: 1px solid #fff !important;
    border-radius: 0px;
}

.datepck .calendar-table tbody td.active, .datepck .calendar-table tbody td.active:hover {
    background-color: #29c7cc !important;
    color: #fff;
}

.datepck .calendar-table tbody td.in-range {
    background-color: rgba(41, 199, 204, 0.25);
}

.datepck .calendar-table tbody td:hover {
    background-color: #e6e8ed;
}

.datepck td.off, .datepck td.off.in-range, .datepck td.off.start-date, .datepck td.off.end-date {
    color: rgba(78, 78, 78, 0.3) !important;
}

.datepck .calendar-table td.prev:hover, .datepck .calendar-table td.next:hover {
    background-color: transparent !important;
}

.datepck .calendar-table td.prev .prev, .datepck .calendar-table td.next .next {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-color: #f2f5f7;
    [class^="mo-icn"] {
        color: rgba(78, 78, 78, 0.3);
        font-size: 12px;
    }
    [class^="mo-icn"]:before {
        color: rgba(78, 78, 78, 0.3);
    }

    &:hover {
        background-color: #29c7cc;
        [class^="mo-icn"] {
            color:#fff;
            font-size: 12px;
        }
        [class^="mo-icn"]:before {
            color: #fff;
        }
    }
}

.datepck .calendar-table td.next .next {
    float: right;
}

.datepck .select-date-left input:focus {
    color: #4e4e4e;
    border-bottom: 1px solid #4e4e4e;
}

.datepck .select-date-left select.yearselect,
.datepck .select-date-right select.yearselect {
    color: rgba(78, 78, 78, 0.5);
    font-size: 12px;
    position: absolute;
    right: 0;
}
.datepck .select-date-left, .datepck .select-date-right {
    color: rgba(78, 78, 78, 0.5);
    font-size: 12px;
    margin-bottom: 5px;
}
.datepck .select-date-left input:focus,
.datepck .select-date-right input:focus {
    color: #4e4e4e;
    border-bottom: 1px solid #4e4e4e;
    font-size: 12px;
}

.datepck .select-date-left input,
.datepck .select-date-right input  {
    color: rgba(78, 78, 78, 0.5);
    border-bottom: 1px solid #e6e8ed;
    font-size: 12px;
    width: 33%;
}

.datepck .ranges li {
    font-size: 14px !important;
    padding: 8px 12px !important;
    color: #4e4e4e !important;
}

.datepck .ranges li:hover {
    background-color: #f2f5f7 !important;
}
.daterangepicker.datepck .ranges {
    padding: 5px 0px;
}
.daterangepicker.datepck .ranges li.active:after {
    content:'' !important;
}
.daterangepicker.datepck .ranges li.active {
    color: #4e4e4e !important;
    .mo-icn-complete-step {
        display: block;
    }
}
.daterangepicker.datepck .ranges li {
    .mo-icn-complete-step {
        display: none;
        float: right;
    }
}

.datepck-button {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: white;
    border-radius: 3px;
    padding: 6px 20px;
    cursor: pointer;

    span{
        font-size: 14px;
        font-family: $SFUIText-Medium;
        line-height: normal;
    }

    &:active,&:checked {
        border: 1px solid #0080b3;
        background: #0080b3;
        color: white;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &.mo-lib-button-blue-solid{
        background: #009cdb;
        border: 1px solid #009cdb;
        &:hover{
            border: 1px solid #00b7ff;
            background: #00b7ff;
        }
    }

    &.mo-lib-button-blue-border{
        color: #009cdb;
        background: white;
        border: 1px solid #009cdb;

        &:hover{
            color:white;
            background: #009cdb;
            &>[class^=mo-icn] {
                &:before {
                    color: white;
                }
            }
        }
    }

    &.mo-lib-button-dark{
        background: white;
        border: 1px solid #e6e8ed;
        color: #4e4e4e;

        &>[class^=mo-icn] {
            font-size: 10px;
            &:before {
                color: #4e4e4e;
            }
        }

        &:hover {
            background: #e6e8ed;
            border: 1px solid #e6e8ed;
            &>[class^=mo-icn] {
                &:before {
                    color: #4e4e4e;
                }
            }
        }

        &:active,&:checked {
            border: 1px solid #cdcfd4;
            background: #cdcfd4;
        }
    }
}
@media (min-width: 564px) {
    .daterangepicker.datepck .ranges ul {
        width: 200px;
    }
}
