@each $val in $max-min-widths {
  .#{$prefixCss}max-width-#{$val} {
    max-width: $val !important;
  }

  .#{$prefixCss}min-width-#{$val} {
    min-width: $val !important;
  }
}

.mo-width-max-content {
  width: intrinsic !important;
  width: -moz-max-content !important;
  width: -webkit-max-content !important;
}

@each $val in $percent {
  .mo-percent-min-width-#{$val} {
    min-width: $val#{'%'} !important;
  }

  .mo-percent-max-width-#{$val} {
    max-width: $val#{'%'} !important;
  }
}
