.#{$prefixCss}opacity-0{
    opacity: 0;
}

.#{$prefixCss}opacity-1{
    opacity: 0.1;
}

.#{$prefixCss}opacity-2{
    opacity: 0.2;
}

.#{$prefixCss}opacity-3{
    opacity: 0.3;
}

.#{$prefixCss}opacity-4{
    opacity: 0.4;
}

.#{$prefixCss}opacity-5{
    opacity: 0.5;
}

.#{$prefixCss}opacity-6{
    opacity: 0.6;
}

.#{$prefixCss}opacity-7{
    opacity: 0.7;
}

.#{$prefixCss}opacity-8{
    opacity: 0.8;
}

.#{$prefixCss}opacity-9{
    opacity: 0.9;
}

.#{$prefixCss}opacity-10{
    opacity: 1;
}