::-webkit-input-placeholder {
  color: rgba(78, 78, 78, 0.5) !important;
}
  
::-moz-placeholder {
  color: rgba(78, 78, 78, 0.5) !important;
}
  
:-ms-input-placeholder {
  color: rgba(78, 78, 78, 0.5) !important;
}
  
:-moz-placeholder {
  color: rgba(78, 78, 78, 0.5) !important;
}