#toast-container {
    pointer-events: none;
    position: fixed;
    z-index: 999999;
    cursor: default;
    box-sizing: border-box;
    .toast {
        box-shadow: none;
        background-color: #20a8d8;
        position: relative;
        overflow: hidden;
        margin: 0 0 6px;
        padding: 15px 15px 15px 50px;
        width: 300px;

        &:hover {
            box-shadow: unset;
        }
        &.toast-facebook {
            // background-image: url(#{$path-sources-static}#{'icon-facebook.png'}) !important;
        }
        &.toast-instagram {
            // background-image: url(#{$path-sources-static}#{'icon-instagram.png'}) !important;
        }

        &.toast-youtube {
            // background-image: url(#{$path-sources-static}#{'icon-youtube.png'}) !important;
        }

        &.toast-zalo {
            // background-image: url(#{$path-sources-static}#{'icon-zalo.png'}) !important;
        }

    //   .toast-mobio {
    //     background-image: url('../assets/images/icon_social/ic_mobio.png') !important;
    //   }

    //   .toast-mobio-message {
    //     background-image: url('../assets/images/icon_social/ic_message.png') !important;
    //   }

        &.toast-line {
        // background-image: url(#{$path-sources-static}#{'icon-line.png'}) !important;
        }

        &.toast-web-live-chat {
        // background-image: url(#{$path-sources-static}#{'icon-web-live-chat.svg'}) !important;
        }
    }

    .toast-social {
      background-color: #fff !important;
      border-left: 8px solid #009cdb;
      color: #4e4e4e;
      font-size: 14px;
      background-repeat: no-repeat;
      background-size: 24px auto;
      background-position: 15px center;
      pointer-events: visible;
    }

    .toast-success {
        background-color: #79c447;
    }

    .toast-error {
        background-color: #ff5454;
    }

    .toast-info {
        background-color: #67c2ef;
    }

    .toast-warning {
        background-color: #fabb3d;
    }
  }
