<div class="w-100 h-100 d-flex flex-column">
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <div class="bm-font-head-3s bm-mr-24px">Lịch họp</div>
      <button nz-button
        nzType="primary"
        (click)="handlerAddMeetingSchedule($event)">
        <i nz-icon
          nzType="plus"
          nzTheme="outline"></i>Thêm lịch họp</button>
    </div>
    <div class="d-flex">
      <div class="bm-mr-12px">
        <nz-select class="bm-w-200px"
          [nzShowSearch]="true"
          [nzAllowClear]="false"
          [nzServerSearch]="false"
          [ngModel]="dataViewSelected"
          [nzPlaceHolder]="'Chọn phòng ban'"
          [nzNotFoundContent]="notFoundViewTypeTemplate"
          (ngModelChange)="handlerSelectViewType($event)">
          <nz-option *ngFor="let item of dataView"
            [nzValue]="item.key"
            [nzLabel]="item.label">
          </nz-option>
        </nz-select>
        <ng-template #notFoundViewTypeTemplate>
          <div class="d-flex align-items-center justify-content-center">
            <span>{{'Không có kết quả'}}</span>
          </div>
        </ng-template>
      </div>
      <div class="bm-mr-12px"
        *ngIf="dataViewSelected === 'all'">
        <nz-select class="bm-w-200px"
          [nzShowSearch]="true"
          [nzAllowClear]="true"
          [nzServerSearch]="true"
          [(ngModel)]="params.idDepartment"
          [nzPlaceHolder]="'Chọn phòng ban'"
          [nzNotFoundContent]="notFoundDepartmentTemplate"
          (ngModelChange)="handlerSelectDepartment($event)"
          (nzOnSearch)="handlerSearchDepartment($event)"
          (nzScrollToBottom)="handlerScrollBottomDepartment()">
          <nz-option *ngFor="let item of listDepartment"
            [nzValue]="item.Id"
            [nzLabel]="item.Name">
          </nz-option>
        </nz-select>
        <ng-template #notFoundDepartmentTemplate>
          <div class="d-flex align-items-center justify-content-center">
            <span *ngIf="!loadingDepartment">{{paramsGetDepartment.search ? 'Không có kết quả' : 'Chưa có phòng ban nào trong danh sách'}}</span>
            <nz-spin *ngIf="loadingDepartment"
              nzSimple></nz-spin>
          </div>
        </ng-template>
      </div>
      <div class="bm-mr-12px"
        *ngIf="dataViewSelected === 'all'">
        <nz-select class="bm-w-200px"
          [nzShowSearch]="true"
          [nzAllowClear]="true"
          [nzServerSearch]="true"
          [(ngModel)]="params.idCreator"
          [nzPlaceHolder]="'Chọn người quản lý'"
          [nzNotFoundContent]="notFoundPersonnelTemplate"
          (ngModelChange)="handlerSelectPersonnel()"
          (nzOnSearch)="handlerSearchPersonnel($event)"
          (nzScrollToBottom)="handlerScrollBottomPersonnel()">
          <nz-option *ngFor="let item of listPersonnel"
            [nzValue]="item.Id"
            [nzLabel]="item.FullName">
          </nz-option>
        </nz-select>
        <ng-template #notFoundPersonnelTemplate>
          <div class="d-flex align-items-center justify-content-center">
            <span *ngIf="!loadingPersonnel">{{paramsGetPersonnel.search ? 'Không có kết quả' : 'Chưa có người quản lý nào trong danh sách'}}</span>
            <nz-spin *ngIf="loadingPersonnel"
              nzSimple></nz-spin>
          </div>
        </ng-template>
      </div>
      <div>
        <nz-input-group class="bm-w-503px"
          [nzSuffix]="suffixIconSearch">
          <input type="text"
            nz-input
            placeholder="Tìm theo tên lịch họp"
            (keyup)="handlerKeyUp($event)" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon
            nzType="search"></i>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="d-flex bm-mt-12px">
    <nz-segmented [ngClass]="{'bm-border-radius-top-right-0 bm-border-radius-bottom-right-0': selectedFilterTimeIndex === 5}"
      [nzOptions]="options"
      [(ngModel)]="selectedFilterTimeIndex"
      (nzValueChange)="handleFilterTimeChange($event)"></nz-segmented>
    <nz-range-picker *ngIf="selectedFilterTimeIndex === 5"
      [nzAllowClear]="false"
      [nzShowTime]="{ nzFormat: 'HH:mm' }"
      nzFormat="dd/MM/yyyy HH:mm"
      [(ngModel)]="defaultFilterTime"
      (ngModelChange)="handlerSelectedFilterTime($event)">
    </nz-range-picker>
  </div>
  <div class="h-100 w-100">
    <div class="h-100 w-100"
      *ngIf="listMeetingSchedule && listMeetingSchedule.length">
      <nz-table #meetingScheduleTable
        [nzScroll]="{ y: 'calc(100vh - 262px)' }"
        [nzFrontPagination]="false"
        [nzData]="listMeetingSchedule"
        [nzTotal]="total"
        [nzPageSize]="params.pageSize"
        [nzPageIndex]="params.page"
        [nzShowTotal]="totalTemplate"
        [nzLoading]="loading"
        [nzSize]="'middle'"
        [nzBordered]="true"
        nzShowPagination
        nzPaginationType="small"
        (nzQueryParams)="handlerQueryParamsChange($event)">
        <thead>
          <tr>
            <th *ngFor="let column of columnConfig"
              [nzAlign]="'left'"
              class="bm-font-head-4s">
              {{ column }}
            </th>
            <th [nzWidth]="'4%'">#</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of meetingScheduleTable.data; index as i">
            <td>
              <!-- <div class="bm-color-009cdb bm-cursor-pointer bm-overflow-hidden text-truncate"
                (click)="handlerEditMeetingSchedule($event, item)">
                <span nz-tooltip
                  [nzTooltipTitle]="contentTemplate"
                  [nzTooltipTitleContext]="{ $implicit: item.Title }">
                  {{item.Title}}
                </span>
              </div> -->
              <div class="bm-overflow-hidden text-truncate">
                <span nz-tooltip
                  [nzTooltipTitle]="contentTemplate"
                  [nzTooltipTitleContext]="{ $implicit: item.Title }">
                  {{item.Title}}
                </span>
              </div>
            </td>
            <td>{{item.EstStartTime | date: 'dd/MM/yyyy HH:mm'}}
              <span nz-tooltip
                *ngIf="item.EstStartTime | CheckTimeStartMeetingSchedulePipe:item.EstDuration:keyFetch"
                [nzTooltipTitle]="timeTemplate">
                <span nz-icon
                  class="bm-ml-4px {{item.EstStartTime | CheckTimeStartMeetingSchedulePipe:item.EstDuration:keyFetch:false:false:true}}"
                  [nzType]="item.EstStartTime | CheckTimeStartMeetingSchedulePipe:item.EstDuration:keyFetch:false:true"></span>
              </span>
              <ng-template #timeTemplate
                let-content>
                <span class="bm-max-h-100px bm-overflow-auto">{{item.EstStartTime | CheckTimeStartMeetingSchedulePipe:item.EstDuration:keyFetch:true}}</span>
              </ng-template>
            </td>
            <td>{{item.EstDuration}} Phút</td>
            <td>{{item.RoomName}}</td>
            <td>{{item.CreatorName}} ({{item.PositionName}})</td>
            <td>{{item.DepartmentName}}</td>
            <td>{{item.CountAttendee}}</td>
            <td>
              <div class="bm-overflow-hidden text-truncate">
                <span nz-tooltip
                  [nzTooltipTitle]="contentTemplate"
                  [nzTooltipTitleContext]="{ $implicit: item.Content }">
                  {{item.Content || '&mdash;'}}
                </span>
              </div>
              <ng-template #contentTemplate
                let-content>
                <span class="bm-max-h-100px bm-overflow-auto">{{ content }}</span>
              </ng-template>
            </td>
            <td>{{item.StatusName}}</td>
            <td><span nz-tooltip
                [nzTooltipTitle]="addPersonnelTemplate"
                (click)="handlerAddPersonnel($event, item)"
                class="bm-color-009cdb bm-cursor-pointer">
                <span nz-icon
                  nzType="info-circle"
                  nzTheme="outline"></span>
              </span>
              <ng-template #addPersonnelTemplate>
                <div class="bm-max-h-100px bm-overflow-auto">Xem chi tiết cuộc họp</div>
              </ng-template>
              <span nz-tooltip
                *ngIf="item.EstStartTime | CheckCanAttendanceMeetingSchedulePipe:item.EstDuration:keyFetch"
                [nzTooltipTitle]="attendanceTemplate"
                (click)="handlerAttendance($event, item)"
                class="bm-color-009cdb bm-cursor-pointer bm-ml-12px">
                <span nz-icon
                  nzType="scan"
                  nzTheme="outline"></span>
              </span>
              <ng-template #attendanceTemplate>
                <div class="bm-max-h-100px bm-overflow-auto">Điểm danh</div>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div class="h-100 w-100 d-flex align-items-center justify-content-center"
      *ngIf="!listMeetingSchedule || !listMeetingSchedule.length">
      <span *ngIf="!loading">{{params.search ? 'Không có kết quả' : 'Chưa có lịch họp nào trong danh sách'}}</span>
      <nz-spin *ngIf="loading"
        nzTip="Đang tải..."
        nzSimple></nz-spin>
    </div>
  </div>
</div>

<ng-template #totalTemplate
  let-total>Tổng cộng {{ total }} bản ghi</ng-template>