<div class="d-flex justify-content-center">
  <div class="bm-w-656px d-flex flex-column">
    <div class="bm-bg-ffffff bm-p-20px bm-border-radius-4px">
      <div class="bm-font-head-3s bm-mb-20px">Thông tin chung</div>
      <div class="d-flex w-100 bm-mb-20px">
        <div class="bm-h-100px bm-w-100px">
          <img nz-image
            class="h-100 w-100 account-img"
            [nzSrc]="'https://d1hjkbq40fs2x4.cloudfront.net/2016-01-31/files/1045.jpg'"
            alt="">
          <!-- [nzSrc]="tempAccount.avatar" -->
        </div>
        <div class="bm-ml-20px d-flex flex-column justify-content-center">
          <div class="bm-mb-8px">
            <span>{{tempAccount.name}}</span>
          </div>
          <div>
            <nz-upload nzAction=""
              [nzFileList]="fileList"
              [nzAccept]="'image/png,image/jpeg'"
              [nzFileType]="'image/png,image/jpeg'"
              (nzChange)="handlerChangeAvatar($event)">
              <button nz-button
                nzType="primary"><i nz-icon
                  nzType="retweet"
                  nzTheme="outline"></i>Thay đổi ảnh đại diện</button>
            </nz-upload>
          </div>
        </div>
      </div>
      <div class="w-45">
        <form nz-form
          [formGroup]="accountForm">
          <nz-form-item class="bm-mb-0">
            <nz-form-control>
              <nz-form-label [nzNoColon]="true"
                [nzFor]="'accountId'">
                Mã nhân viên
              </nz-form-label>
              <nz-input-group>
                <input type="text"
                  nz-input
                  class="bm-border-radius-4px"
                  formControlName="accountId"
                  placeholder="Nhập mã nhân viên">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="bm-mt-16px bm-mb-0">
            <nz-form-control>
              <nz-form-label [nzNoColon]="true"
                [nzFor]="'accountName'">
                Tên tài khoản
              </nz-form-label>
              <nz-input-group>
                <input [type]="'text'"
                  nz-input
                  class="bm-border-radius-4px"
                  formControlName="accountName"
                  placeholder="Nhập tên tài khoản">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="bm-mt-16px bm-mb-0">
            <nz-form-control nzErrorTip="Họ và tên không thể để trống!">
              <nz-form-label [nzNoColon]="true"
                [nzFor]="'userName'">
                Họ và tên
              </nz-form-label>
              <nz-input-group>
                <input [type]="'text'"
                  nz-input
                  class="bm-border-radius-4px"
                  formControlName="userName"
                  placeholder="Nhập họ và tên">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="bm-mt-16px bm-mb-0">
            <nz-form-control [nzErrorTip]="phoneErrorTip">
              <nz-form-label [nzNoColon]="true"
                [nzFor]="'phoneNumber'">
                Số điện thoại
              </nz-form-label>
              <nz-input-group>
                <input [type]="'text'"
                  nz-input
                  class="bm-border-radius-4px"
                  formControlName="phoneNumber"
                  placeholder="Nhập số điện thoại">
              </nz-input-group>
              <ng-template #phoneErrorTip
                let-control>
                <span class="font-size-11"
                  *ngIf="control.hasError('required')">Số điện thoại không thể để trống!</span>
                <span class="font-size-11"
                  *ngIf="control.hasError('pattern') || control.hasError('maxlength') || control.hasError('minlength')">
                  Số điện thoại không đúng định dạng!
                </span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <div class="d-flex bm-mt-20px">
            <button nz-button
              nzType="primary"
              [nzLoading]="!!loading"
              (click)="handlerChangeInfo()">Cập nhật</button>
            <button nz-button
              class="bm-ml-12px"
              nzType="default"
              (click)="handlerCancel()">Huỷ bỏ</button>
          </div>
        </form>
      </div>
    </div>
    <div class="bm-bg-ffffff bm-p-20px bm-border-radius-4px bm-mt-20px">
      <div class="bm-font-head-3s bm-mb-12px">Bảo mật</div>
      <div *ngIf="!modeUpdatePass"
        class="bm-cursor-pointer bm-color-009cdb"
        (click)="handlerChangeModeUpdatePass()">Đổi mật khẩu</div>
      <div *ngIf="modeUpdatePass">
        <div class="bm-font-head-5s bm-mb-12px">Đổi mật khẩu</div>
        <form class="h-100"
          nz-form
          [formGroup]="passwordForm">
          <div class="h-100 d-flex flex-column justify-content-between">
            <div>
              <nz-form-item class="bm-mb-0">
                <nz-form-control nzErrorTip="Mật khẩu hiện tại không thể để trống!">
                  <nz-form-label [nzNoColon]="true"
                    [nzFor]="'current_password'">
                    Mật khẩu hiện tại
                  </nz-form-label>
                  <nz-input-group [nzSuffix]="suffixTemplateCurrentPassword">
                    <input [type]="currentPasswordVisible ? 'text' : 'password'"
                      nz-input
                      class="bm-border-radius-4px"
                      formControlName="current_password"
                      placeholder="Nhập mật khẩu hiện tại">
                  </nz-input-group>
                  <ng-template #suffixTemplateCurrentPassword>
                    <i nz-icon
                      [nzType]=" currentPasswordVisible? 'eye-invisible' : 'eye'"
                      (click)="handlerChangeViewPass('currentPassword')"></i>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="bm-mt-16px bm-mb-0">
                <nz-form-control nzErrorTip="Mật khẩu mới không thể để trống!">
                  <div class="bm-mb-4px d-flex align-items-center justify-content-between">
                    <nz-form-label [nzNoColon]="true"
                      [nzFor]="'new_password'">
                      Mật khẩu mới
                    </nz-form-label>
                    <div class="bm-color-009cdb bm-cursor-pointer"
                      (click)="handlerRandomPassword($event)">Sinh mật khẩu</div>
                  </div>
                  <nz-input-group [nzSuffix]="suffixTemplateNewPassword">
                    <input [type]="newPasswordVisible ? 'text' : 'password'"
                      nz-input
                      class="bm-border-radius-4px"
                      formControlName="new_password"
                      placeholder="Nhập mật khẩu mới">
                  </nz-input-group>
                  <ng-template #suffixTemplateNewPassword>
                    <i nz-icon
                      [nzType]="newPasswordVisible ? 'eye-invisible' : 'eye'"
                      (click)="handlerChangeViewPass('newPassword')"></i>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="bm-mt-16px bm-mb-0">
                <nz-form-control [nzErrorTip]="rePasswordErrorTip">
                  <nz-form-label [nzNoColon]="true"
                    [nzFor]="'renew_password'">
                    Xác nhận mật khẩu
                  </nz-form-label>
                  <nz-input-group [nzSuffix]="suffixTemplateReNewPassword">
                    <input [type]="reNewPasswordVisible ? 'text' : 'password'"
                      nz-input
                      class="bm-border-radius-4px"
                      formControlName="renew_password"
                      placeholder="Nhập lại mật khẩu mới">
                  </nz-input-group>
                  <ng-template #rePasswordErrorTip
                    let-control>
                    <span class="font-size-11"
                      *ngIf="control.hasError('required')">Mật khẩu xác nhận không thể để trống!</span>
                    <span class="font-size-11"
                      *ngIf="control.hasError('confirm')">
                      Mật khẩu xác nhận không trùng khớp!
                    </span>
                  </ng-template>
                </nz-form-control>
                <ng-template #suffixTemplateReNewPassword>
                  <i nz-icon
                    [nzType]="reNewPasswordVisible ? 'eye-invisible' : 'eye'"
                    (click)="handlerChangeViewPass('reNewPassword')"></i>
                </ng-template>
              </nz-form-item>
            </div>
            <div class="d-flex bm-mt-20px">
              <button nz-button
                nzType="primary"
                [nzLoading]="!!loadingChangePass"
                (click)="handlerChangePassword()">Cập nhật</button>
              <button nz-button
                class="bm-ml-12px"
                nzType="default"
                (click)="handlerCancelChangePass()">Huỷ bỏ</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>